[2013-04-24 18:50] jonbullock opened #4 "Create unit tests"
Create unit tests using JUnit or TestNG.

[2013-04-24 18:57] #4 closed, assigned to jonbullock

[2013-04-24 18:58] jonbullock opened #5 "Add post baking stats"
Add post baking stats such as "123 posts & 10 pages baked".

[2013-04-24 18:59] jonbullock opened #6 "Make source folder arg optional"
Default to the current working directory by default.

[2013-04-24 19:00] jonbullock opened #7 "Standardise the data model available to the templates"
By including more data such as all config options and all posts & pages.

[2013-04-24 19:07] jonbullock opened #8 "Add logging framework support"
Add logging framework support using either Log4j or SLF4J, consider adding logging options to configuration too.

[2013-04-24 19:08] jonbullock opened #9 "Add CDI support into the project"
Add CDI support into the project, maybe using Weld?

[2013-04-24 19:09] jonbullock opened #10 "Add JBoss Forge support via a plugin"
Add JBoss Forge support via a plugin

[2013-04-24 19:10] jonbullock opened #11 "Add support for serving up baked site locally"
Add support for serving up baked site locally using Jetty.

[2013-04-24 19:11] jonbullock opened #12 "Improve drafts & status system"
Improve drafts & status system.

[2013-04-24 19:11] jonbullock opened #13 "Improve tag page rendering system"
Improve tag page rendering system.

[2013-04-24 19:12] jonbullock opened #14 "Add support for incremental rendering"
Add support for incremental rendering, only render what has changed.

[2013-04-24 19:16] jonbullock opened #15 "Add support for AsciiDoc format"
Add support for AsciiDoc format. Using Alex's great project: https://github.com/asciidoctor/asciidoctor-java-integration

[2013-04-24 19:17] jonbullock opened #16 "Add Wordpress import script"
Add Wordpress import script.

[2013-04-24 19:18] jonbullock opened #17 "Add support for more template engines"
Add support for more template engines such as Velocity, Mustache.java, StringTemplate etc.

[2013-04-24 19:19] jonbullock opened #18 "Add support for plugins"
Add support for plugins for getting external content such as Twitter/Facebook and outputting it via the rendering pipeline.

[2013-04-24 19:20] jonbullock opened #19 "Add photo album support"
Add photo album support so I can eventually replace the need to run Gallery.

[2013-04-24 19:30] #5 closed, assigned to jonbullock

[2013-04-24 19:31] #7 closed, assigned to jonbullock

[2013-04-25 13:08] jonbullock opened #20 "Output folder "baked" gets created even if the source folder structure is not valid"
Output folder "baked" gets created even if the source folder structure is not valid

[2013-04-25 13:09] jonbullock opened #21 "Improve error messages when required folders are missing"
Improve error messages when required folders are missing, for example:

Error: Required folder cannot be found! Config key is template.folder
java.lang.Exception: Error: Required folder cannot be found! Config key is template.folder

[2013-04-26 12:53] #20 closed, assigned to jonbullock

[2013-04-26 15:32] #6 closed, assigned to jonbullock

[2013-04-26 17:18] #21 closed, assigned to jonbullock

[2013-04-26 17:35] jonbullock opened #22 "Improve execution scripts ready for release"
Improve execution scripts for Linux, OS X & Windows ready for release.

[2013-04-26 18:46] #22 closed, assigned to jonbullock

[2013-04-28 15:22] jonbullock opened #23 "Update documentation to reflect changes"

[2013-04-28 16:02] jonbullock opened #24 "Markdown posts don't have their file extension correctly set"
The post.uri value still has file.md in it.

[2013-04-28 22:13] jonbullock opened #25 "Standardised data model interferes with rendering index, archive & feed"
Published posts get overridden with all posts now because of the standardised model.

[2013-04-28 22:14] #24 closed, assigned to jonbullock

[2013-04-28 22:15] #25 closed, assigned to jonbullock

[2013-04-30 22:05] #23 closed, assigned to jonbullock

[2013-06-24 07:43] jonbullock opened #26 "Add automatic publishing based on date"
Similar to Wordpress publish in advance.

[2013-06-30 15:32] jonbullock opened #27 "Use multiple threads to speed up baking"
Use multiple threads to speed up baking

[2013-07-08 13:34] jonbullock opened #28 "Look at using Scanner to parse content files instead"

[2013-08-12 20:16] jonbullock opened #29 "Generate automatic sitemap.xml"
Controllable via configuration option?

[2013-08-15 11:49] jonbullock opened #30 "Allow a default status to be set/configured"

[2013-08-19 15:53] Riduidel opened #31 "Create a JBake maven plugin"
This maven plugin should take source for site in a convenient lcoation (say something like `src/site/jbake`) and set output at a convenient location (`target/jbake`).

The interest ? Using maven wagons to upload JBake generated site to any convenient host.

The impact on JBake ? Provide a maven artifact in maven central (usually uploading to maven central requires collaboration with the folks at S

[2013-08-22 12:51] jonbullock opened #32 "Add support for YAML formatted config file"
So more complex data structures can be used.

No specific use cases as yet, will be done once requirement exists.

Research:

http://www.yaml.org/
http://stackoverflow.com/questions/450399/which-java-yaml-library-should-i-use
https://code.google.com/p/snakeyaml/

[2013-08-22 12:52] jonbullock opened #33 "Look for jbake.properties file as well"
Instead of just custom.properties

[2013-09-15 23:28] jonbullock opened #34 "Add command line option to create required structure"
Should also include a default template that can be used as a starting point using either Bootstrap or Foundation.

[2013-09-19 16:49] jonbullock opened #35 "Release JBake to Maven central repo"
To allow the plugin (#31) to be released.

[2013-09-23 19:30] #35 closed, assigned to jonbullock

[2013-09-29 21:48] #34 closed, assigned to jonbullock

[2013-09-29 21:50] #33 closed, assigned to jonbullock

[2013-09-29 21:51] #26 closed, assigned to jonbullock

[2013-09-29 21:53] #11 closed, assigned to jonbullock

[2013-10-05 22:49] #31 closed, assigned to nobody

[2013-10-12 04:55] luckypoem opened #37 "why i met such error?"
hi.
in the beginning,i use "jbake" to publish 2 posts successfully,but when i try to use "jbake" to publish more posts,i met the error below:

[code]

how to fix it? my site is http://as3.brite.biz:5500/
as3:~/JBake# ls

[2013-10-12 17:22] jonbullock opened #39 "Add version output when JBake is ran"

[2013-10-12 17:29] jonbullock opened #40 "Add baked timestamp to data available in templates"

[2013-10-12 17:29] #39 closed, assigned to jonbullock

[2013-10-12 18:06] jonbullock opened #41 "Look at standardising on HTTP server used in core & Maven plugin"
Is it worth standardising? What's the benefits?

Options:
http://winstone.sourceforge.net/
http://www.eclipse.org/jetty/
http://undertow.io/

[2013-10-14 20:04] jonbullock opened #42 "Adopt Semantic Versioning strategy"
http://semver.org/

Starting with v2.2.0

[2013-10-14 20:33] jonbullock opened #43 "Update README.md to cover just development & link to contributing guide"
Link to main docs on jbake.org

[2013-10-17 12:27] jonbullock opened #44 "Content header is being picked up from middle of content file but it shouldn't be"
Discovered while converting docs to AsciiDoc format and including JBake meta data in half way down file as example.

[2013-10-19 00:58] #44 closed, assigned to jonbullock

[2013-10-19 11:20] jonbullock opened #45 "Speed up AsciiDoc rendering by reusing Asciidoctor object"

[2013-10-19 11:23] #45 closed, assigned to jonbullock

[2013-10-19 11:48] #15 closed, assigned to jonbullock

[2013-10-22 12:08] #42 closed, assigned to jonbullock

[2013-10-22 12:13] jonbullock opened #46 "Add support for .adoc extension"

[2013-10-22 20:55] jonbullock opened #47 "Date for AsciiDoc formatted files is last modified date instead of revision date"

[2013-10-22 20:57] jonbullock opened #48 "Allow date format used to be customised via configuration"

[2013-10-22 21:00] #47 closed, assigned to jonbullock

[2013-10-22 21:00] #46 closed, assigned to jonbullock

[2013-10-23 13:10] jonbullock opened #49 "Baking is considerably slower on large site (~250 pages across many sub-folders)"

[2013-10-23 18:35] #49 closed, assigned to jonbullock

[2013-10-24 21:33] jonbullock opened #50 "Depreciate custom.properties file support"
In next minor release add warning that support for the file is being depreciated and will be removed in next major release, suggest they rename it to jbake.properties instead.

[2013-10-26 20:36] jonbullock opened #51 "Transfer repo over to organisation"
So repo would be http://github.com/jbake-org/jbake

[2013-11-03 14:23] breun opened #52 "Download link on Getting Started page is dead"
I went to the Getting Started page. The download link in step 2 points to http://jbake.org/download.html but requesting that URL returns a 404 Not Found error.

[2013-11-03 14:49] #52 closed, assigned to nobody

[2013-11-04 08:35] Vad1mo opened #53 "No latest version to maven central"
Hello Jonathan,
great work you did here. I really like JBake. Would it be possible for you to upload the jbake artifacts to maven central. currently only version 2.1.1 is available.

cheers,
Vadim

[2013-11-07 06:40] #53 closed, assigned to jonbullock

[2013-11-08 23:33] grdryn opened #55 "Top-bar links follow posts, and break as a result"
Hi!

I just started playing with JBake, it looks really nice and super easy to set up, which is a big plus! :)

The problem I'm seeing is on the default site generated with `jbake -i` -- if I click on one of the post links, e.g. **fourth post**, then I get brought to that page fine (http://localhost:8820/blog/2013/fourth-post.html), but now all of the links on the top bar are broken.

For example,

[2013-12-04 05:59] rajmahendra opened #59 "Yeoman generator"
We need to create a good user friendly Yeoman generator for JBake.

https://github.com/robwierzbowski/generator-jekyllrb

[2013-12-04 09:49] Riduidel opened #60 "Add support for subdirectories"
Currently, the various templates are only used in top-most directory, and not in subdirectories.

Well, to be fair, the page template is used on each input file, _but_ with wrong paths in it.

So, could you please allow each template to be run in each folder ?

[2013-12-04 10:26] rajmahendra opened #61 "JADE Template engine support"
http://jade-lang.com

https://github.com/neuland/jade4j

[2013-12-12 11:13] rajmahendra opened #62 "Post / Page and Slug"
Currently the Slug is used by the file name. User need to add the slug in there own way to appaire after baking.

We can take the title of the post / page to create slug. This removes burden for user to create slug.

One main challenge comes is when we work in internationalization!?

[2013-12-16 13:11] lefou opened #64 "index.ftl renders an index.html when "render.index=false""
On my try to generate an `index.html` file from a `index.adoc` file, I had to disable index rendering with the `render.index=false` configuration. In this case, the `index.ftl` template file is properly ignored and the `index.html` is rendered from the asciicdoc file. But, if there is no `index.adoc` and no other `index.*` file, still an `index.html` is rendered from the `index.ftl`.

[2013-12-17 09:42] yarixxx opened #65 "HTML Tags are not escaped in titles"
~~Titles are vulnerable to XSS attacks.~~

The following titles will lead to wrong values:
- A&lt;B, B&gt;C - is not understandable.
- Breaking news: </a></h1> - those tags make look me crayzy.
- &lt;a href&gt;I am leading to the index page, not to the post!&lt;/a&gt;

[2013-12-26 19:45] #55 closed, assigned to jonbullock

[2013-12-28 16:46] #64 closed, assigned to jonbullock

[2013-12-29 15:03] #48 closed, assigned to nobody

[2014-01-05 12:47] RainerW opened #73 "Hide CompositeConfiguration"
The configuration is primarily based on CompositeConfiguration. There are many magic invokes like : `config.getString("content.folder")`

Should be replaced by a JBakeConfiguration class.

[code]

This would make it
- typesafe
- create a list/class of _all_ possible config values
- IDE support to find all usage of config X

}

[2014-01-05 13:08] RainerW opened #74 "add logging Framework"
like slf4j with logback backend

*edit: logback

[2014-01-06 12:32] #74 closed, assigned to nobody

[2014-01-08 11:47] stephenaa opened #76 "Tables"
I cant seem to get (multi)markdown tables to work. I have added the following line to jbake.properties:
markdown.extensions=HARDWRAPS,AUTOLINKS,FENCED_CODE_BLOCKS,DEFINITIONS,TABLES

But my tables are all ending up as pragraphs with the markdown in them.

I am using JBake 2.2.0 downloaded from jbake.org.

[2014-01-16 14:10] mwanji opened #77 "Support hashes in header"
in the header, the following results in a String being added to the templates data model, rather than a Map:

[code]

Would it be possible to evaluate this to a Map?

My usecase is using Open Graph meta tags in the header. These are supplied in the post's header. My workaround is to use several variables:

[code]

but it would be nicer to just have

[code]

and in the header.ftl:

[code]

[2014-01-18 10:19] lefou opened #79 "Asciidoctor include directive does not strip document header attributes in included file"
Here a minimal example:

My documentation is splitted into multiple pages, e.g. the `Installation.adoc` file start like this:

[code]

Additionally, I want to habe a single-page Documentation which includes all other parts. `Documentation.adoc`:

[code]

Unfortunately, the special lines containing the authors, the date and other attributes are included in the resulting page as normal text. As far

[2014-01-18 12:39] lefou opened #80 "AsciiDoc table of contents is not rendered"
A AsciiDoc table of contents is not generated, when `:toc:` is used.

See http://asciidoctor.org/docs/user-manual/#user-toc.

JBake version is 2.2.1-SNAPSHOT, 7be8a72022e6b7f908ba2e5386ec5affccd10c98

[2014-01-18 20:45] #79 closed, assigned to jonbullock

[2014-01-22 13:12] #76 closed, assigned to jonbullock

[2014-01-23 21:19] #65 closed, assigned to jonbullock

[2014-01-27 18:18] #14 closed, assigned to nobody

[2014-01-27 18:21] #8 closed, assigned to jonbullock

[2014-02-01 14:19] jonbullock opened #92 "Add support for distribution and install via GVM"
http://gvmtool.net/

Suggested by @aalmiray

[2014-02-14 08:22] lefou opened #95 "JBake cmdline app should have return code != 0 when an error occurs"
Currently, it always returns 0. This makes it hard to detect errors, especially when used in some automation process.

[2014-02-14 22:11] lefou opened #96 "Pages with custom template do not appear in sitemap."
Affected version, current master: 148267f1c6df8efa929287fe363ed93d6bdd2dab

[2014-02-15 15:40] #95 closed, assigned to nobody

[2014-02-25 09:25] aldrinleal opened #100 "Allow Partial Page Rendering"
(Disregard if that already happens)

I believe that re-rendering the whole site is not useful, specially if you're doing incremental editing or tweaking a page layout. Instead, I believe it would be interesting if we could allow (API-wise) allow for rendering just a single page given its filename

What do you guys think?

Thank you

[2014-03-06 12:30] Fisiu opened #101 "Post pagination"
It would be nice to have post pagination on index page. Let's allow user to configure how many posts should be visible on index page.

Use case:
If post count > specified limit, then allow to switch to ie. index2. On index2 user can switch back to index or go to index3 when there is more posts.

On the frontend side, it could be done with http://getbootstrap.com/components/#pagination-pager.

[2014-03-31 18:40] #96 closed, assigned to jonbullock

[2014-04-10 11:14] mwanji opened #107 "Consider moving to Java 7"
The main benefit, I think, would be the native file system watching ability. That would allow automatic re-baking when a change occurs (for example with a -w flag) and would tie in very nicely with the incremental build system.

A minor benefit would be the new language features and APIs. They seem minor, but I end up using try-with-resources and the various new utility classes a lot more than I t

[2014-04-28 17:43] jonbullock opened #108 "Sitemap not rendered correctly when using Thymeleaf template engine"
Seems to render empty file, no matter what is in the template file

[2014-04-28 17:43] #108 closed, assigned to jonbullock

[2014-04-28 21:52] #37 closed, assigned to nobody

[2014-04-28 21:54] #29 closed, assigned to nobody

[2014-04-28 21:55] #51 closed, assigned to jonbullock

[2014-05-01 22:35] #60 closed, assigned to jonbullock

[2014-05-03 19:04] jonbullock opened #109 "Allow alternative template engine to be used without configuration change"
So the `template.feed.file` etc. options don't require changing before the alternative template engine can be used.

[2014-05-03 19:06] #109 closed, assigned to jonbullock

[2014-05-11 17:26] jonbullock opened #110 "Switch to use JCommander"
Switch to use JCommander for command line interface. Supports having specific inputs per option rather than sharing inputs across all options.

[2014-05-11 17:28] jonbullock opened #111 "Create Homebrew formulae for JBake"

[2014-07-06 16:11] huima opened #115 "Pager / Paginator"
Hi,

one thing that is missing from very necessary features is some kind of paginator.

I tried to look from documentation as well as from the sourcecode and did not notice how it could be possible to limit the number of posts on the index page and/or paginate the index page to multiple pages.

For example Jekyll does this quite nicely, as well as Nikola.

Any thoughts yet on when and where to imp

[2014-07-09 14:36] flyisland opened #116 "How to support Chinese character?"
I have just downloaded the 2.3.0, created a sample with "-i", and modified the "fourth-post.adoc" with Chinese characters. Then I got the following errors while baking it.

[code]

[2014-07-10 21:07] #92 closed, assigned to jonbullock

[2014-07-14 12:13] jonbullock opened #117 "Move to sub-module structure"
As suggested here:

https://groups.google.com/d/msg/jbake-dev/e-hCPuZ4L6E/7UGoljG5ASMJ

[2014-07-15 02:18] rajmahendra opened #118 "JBake API provides list of supported formats"
I am creating a Forge addon for JBake. To create pages and post i need to know what are the supported formats current jbake version provides so i can easily add those to the addon..

What is your suggestion on adding a method to api to return supported file formats ?

[2014-08-01 12:18] jonbullock opened #121 "Batch file for Windows doesn't support installation in folders with spaces in"
See: https://groups.google.com/d/msg/jbake-user/VUCFtbQnxOo/G--6IQMkvTUJ

[2014-08-01 14:45] jonbullock opened #122 "File isn't closed after being read"
Parser line 55

[2014-08-01 15:00] jonbullock opened #123 "Make sure OrientDB is shutdown after baking"
See: https://github.com/ybonnel/jbake-maven-plugin/commit/a8967d93b2b266d6b6c733c3a509c0565e2645e6

[2014-08-10 09:18] pditommaso opened #125 "Archive page is not included in {published_content} collection"
Though the property "render.archive" is true and the "archive" page is rendered, it is not included in the collection {published_content} nor {all_content}

[2014-08-11 12:34] #122 closed, assigned to nobody

[2014-08-11 15:17] kyleboon opened #126 "Create jbake lazybones generator"
Create a jbake lazybones generator.

[2014-08-19 14:48] Riduidel opened #128 "Tag loading fails when one document has no tags set"
If one parsed document has no tags (or an empty set of tags), the `DBUtil#toStringArray` method is invoked with a null entry, which lead to an `IllegalArgumentException` and no rendering of tags at all.

[2014-08-20 18:35] aalmiray opened #130 "JBake 2.3.0/2.3.1 fail with AsciidoctorJ 1.5.0"
The following exception is thrown if asciidoctorj-1.5.0 is in the classpath

[code]

[2014-08-20 19:56] #121 closed, assigned to nobody

[2014-08-20 20:00] #123 closed, assigned to nobody

[2014-08-20 20:01] #130 closed, assigned to jonbullock

[2014-08-20 20:07] #128 closed, assigned to jonbullock

[2014-08-28 14:56] Riduidel opened #132 "Extract all config constants in one interface"
Currently, config values are scattered all across the application, which makes their finding difficult.
What makes it worse is they are only present as String value.

Example with the code added for #30

[code]

i suggest moving all these constants into a `Config` interface, defined as public static inner interface of `ConfigUtils`. This way they're both easier to locate, and to document.

[2014-08-28 21:02] #30 closed, assigned to nobody

[2014-09-05 06:57] rihenperry opened #136 "Need to add Latex support to the existing format options"
Latex is widely supported and used for documentation.This way we are expanding jbake's formating options.

[2014-09-05 06:58] rihenperry opened #137 "Need to add Latex support to the existing format options"

[2014-09-05 06:58] #137 closed, assigned to nobody

[2014-09-19 13:48] Vad1mo opened #139 "Time for a minor release"
There have been some changes and bug fixes since 2.3.1 why won't we make a 2.3.2 or even 2.4.0?

I have been working with snapshot for a while and for me it seems to be stable and I would like to work with asciidoctor 1.5

[2014-09-20 22:59] jonbullock opened #140 "Using relative input & output paths causes AsciiDoc rendering to fail"
For example running JBake with no parameters uses input of `.` and output of `output/`. Using absolute paths works fine. Only occurs when using Asciidoctor v1.5.0.

Console output:

23:04:06.741 INFO  org.jbake.parser.AsciidoctorEngine - Asciidoctor engine initialized.
23:04:06.831 DEBUG o.a.internal.JRubyAsciidoctor - asciidoctor -B ./content/blog/2013 -S UNSAFE -a source-highlighter=prettify -

[2014-09-20 23:03] #140 closed, assigned to jonbullock

[2014-09-20 23:43] jonbullock opened #141 "Update support for reading document title from AsciiDoc file"
Since upgrade to Asciidoctor v1.5.0 first read file shows "org.jruby.gen.InterfaceImpl757552301@5f7774e7" instead of real document title.

See this commit for details on the new API: https://github.com/asciidoctor/asciidoctorj/commit/a5a54af65c6420d1f73fc990cc5e31dc27a9f4a9

[2014-09-21 00:18] #141 closed, assigned to jonbullock

[2014-09-21 01:25] #139 closed, assigned to jonbullock

[2014-09-22 14:25] Vad1mo opened #143 "asciidoctor include other documents"
Any idea why something like this is not working in jbake?

[code]

what I get is just the link to the content not an actual include.

[code]

In a different file of the same project I have `index.adoc` that contains following line:
...
include::QuickStart.adoc[]
...

`QuickStart.adoc` is in the same path as `index.adoc` and the final result is as expected, the content is included.

[2014-09-22 14:50] #143 closed, assigned to jonbullock

[2014-09-24 15:09] Vad1mo opened #144 "TOC is not displayed with asciidoc"
why is the TOC not displayed?

[code]

I tried different variations like putting the toc::[] inside the document.

I had it working once but it doesn't work anymore.

[2014-09-25 09:30] Vad1mo opened #145 "Customizable index page"
My index.ftl page contains different content then a list of pages or posts like in the examples. I would like to have a ./content/index.adoc file
that is rendered to /index.html any idea how that can be achieved?

[code]

[2014-09-25 10:07] #145 closed, assigned to jonbullock

[2014-09-30 21:00] #116 closed, assigned to jonbullock

[2014-09-30 22:06] #144 closed, assigned to jonbullock

[2014-10-12 07:47] mariuszs opened #147 "Initializing jbake project in selected directory"
Command `jbake --init src/jbake/` should initialize jbake project in src/jbake directory.

Actually this is not working

[code]

[2014-10-13 14:48] flyisland opened #148 "the href of sytlesheet in generated "tag".html is wrong"
env: JBake v2.3.2 under windows 7

after set "render.tags=true" in jbake.properties, the href of sytlesheet in generated "tag".html is wrong .

For example, int the the .\tags\blog.html

[code]

all href is wrong, it should be "../css/xxx.css".

[2014-10-14 16:38] flyisland opened #149 "no "table of cotent""
env: JBake v2.3.2 under windows 7

I added ":toc:" in my blog in asciidoc format, but the "table of cotent" is not generated.

[2014-10-14 23:57] #149 closed, assigned to nobody

[2014-10-16 21:07] jonbullock opened #150 "Make sure ${content.rootpath} returns empty string instead of null"
See #60 for suggestion.

[2014-10-23 22:12] #147 closed, assigned to jonbullock

[2014-10-28 13:28] #80 closed, assigned to jonbullock

[2014-10-28 15:29] jonbullock opened #153 "Upgrade Asciidoctor dependency to v1.5.1"
Upgrade to v1.5.1

[2014-10-31 23:45] jonbullock opened #155 "Allow custom output file extensions to be used when custom type is used"
To enable #152

[2014-10-31 23:46] #155 closed, assigned to jonbullock

[2014-11-03 13:41] #77 closed, assigned to nobody

[2014-11-03 21:44] #132 closed, assigned to jonbullock

[2014-11-04 22:28] #153 closed, assigned to jonbullock

[2014-11-05 12:19] #150 closed, assigned to jonbullock

[2014-11-05 12:34] #40 closed, assigned to jonbullock

[2014-11-05 12:50] #50 closed, assigned to jonbullock

[2014-11-06 13:09] #148 closed, assigned to jonbullock

[2014-11-08 11:34] mariuszs opened #159 "Markdown is not properly wrapping new lines"
Example text: https://gist.github.com/mariuszs/82b6a334799df0d34dcc

Long paragraph can be breaked into separate lines without space between like this:

First sentence.
Second sentence.

And should be rendered as one paragraph. "First sentence. Second sentence"

To make this into two paragraph space is required:

First sentence.

Second sentence.

This is very useful for editor without breaking lo

[2014-11-08 11:38] #159 closed, assigned to nobody

[2014-11-30 18:19] rajmahendra opened #160 "AsciidocFX JBake Support"
Just a link issue to https://github.com/asciidocfx/AsciidocFX/issues/29

[2014-12-25 21:45] obfischer opened #164 "Colon in Asciidoctor based post prevents proper title rendering"
With JBake 2.3.2 it is not possible to render the title of the post below properly

[code]

In the current version of JBake the title is rendered as **Happy Hour** instead of **Happy Hour: Unit-Test mit Mockito**.

[2014-12-30 23:03] #164 closed, assigned to jonbullock

[2015-01-03 15:58] jonbullock opened #165 "index file for subdirectory support"
(See jbake-org/#26 for original issue)

Currently JBake supports index/home page for the whole project.

Some time user like to have a index page in each folder

Scenario

Assuming I create a website where homepage is not a blog and I like to have a separate index page inside my 'blogornews` folder or i may be like to have a folder with a new subproject support and have one index page.

Currently

[2015-01-20 02:54] vidakovic commented on #61
Hi @jonbullock

Please see #166

[2015-01-20 09:35] lefou opened #167 "Improve use as library: Remove System.exit() calls"
To use JBake as a library (e.g. as a plug-in in a build tool) without unforseen surprises, calls to `System.exit()` should be removed. I suggest to replace them with a dedicated `JBakeException`s. The exit calls cannot be easily inhibited and stopping the whole JVM from a library is a no go IMHO. Whereas dedicated exception can be handled very easily.

Please also see #120 which is primary about t

[2015-01-20 09:38] vietj commented on #167
+1

[2015-01-20 11:26] stavytskyi commented on #167
+1

[2015-01-20 13:10] jonbullock commented on #117
Reading material: http://www.petrikainulainen.net/programming/gradle/getting-started-with-gradle-creating-a-multi-project-build/

[2015-01-20 14:44] rajmahendra commented on #117
I can take this task if all are ok :) Maven or Gradle.

[2015-01-20 21:41] #167 closed

[2015-01-21 08:46] rajmahendra commented on #117
@jonbullock  We have around 15 pull request pending... If we have to proceed with this issue we have to first resolve all the pull requests ! https://github.com/jbake-org/jbake/pulls

[2015-01-21 08:52] lefou commented on #117
+1

[2015-01-21 22:13] jonbullock commented on #117
Seeing the AsciidoctorJ project move over to a sub-module Gradle build recently I thought we could do the same, so lets go with Gradle.

My plan was to start work on v3 in the v3.0.0 branch and merge in all the outstanding PR's into this branch while work carried on in master for v2.4.0. But having said that I don't know if this is possible since all the PR's are for the master branch?

[2015-01-21 22:48] lefou commented on #117
I would prefer to stay in master for v3 work and keep a 2.4 branch if required, but that's completely personal taste. In the end, it's only names.

Merging (at least some of) the pull request now before splitting the build would be easier of course. In best case no extra work needs to be done. If you modularize first, you need to apply all patches manually which is cumbersome and error-prone.

[2015-01-21 22:50] lefou commented on #117
Also, given that some PRs are older than a year, it's about time to merge or discuss and defer.

[2015-01-22 12:55] jonbullock commented on #117
Seems logical to me. I'll get v2.4.0 out the door as quick as possible then the PR's can be dealt with in preparation for the v3 release. If anything else needs doing on v2.4 a branch can be created for it.

Once the PR's are dealt with in whatever way required we can start to break the project down ready for v3.

[2015-01-22 19:41] jonbullock commented on #19
Linking #101 and #115

[2015-01-26 06:32] wenerme commented on #107
About year ago, still 2.x. :disappointed:

[2015-01-26 22:16] jonbullock commented on #107
Don't worry we'll get onto v3.0.0 soon enough :smile:

[2015-01-28 22:56] Fisiu opened #170 "Since 2.3.0 tags rendering is broken."
I'm using some jbake for some time. The last version which was working fine was 2.2.1. Everything newer then 2.2.1 fails during tags rendering with something like:
[code]

[code]

[code]

And one more thing. If I set `render.tags=false`, `content.tags` (used in ie. templates/post.ftl) should be `null`? If so, then it's not a `null`.

[2015-01-29 08:37] lefou commented on #170
Could you please attach the input file(s) which result in the error?

[2015-01-29 10:30] Fisiu commented on #170
I use markdown for sources, so my post contains classic header:

    date=2014-03-27 15:12:27+01:00
    status=published
    title=Biblioteka Apache Tomcat Native w Eclipse
    type=post
    tags=openSUSE, java, eclipse, tomcat
[code]

[2015-01-29 12:17] lefou commented on #170
Thank you! Now, @jonbullock should have enough information to investigate.

[2015-01-29 13:06] jonbullock commented on #170
This maybe related to: #128 & #129

The error is because of line: https://github.com/jbake-org/jbake/blob/1aa9b0319db04161817d06c380c2af92059e8f49/src/main/java/org/jbake/app/DBUtil.java#L60

Which file is not being rendered, is it a tag page or something else?

[2015-01-29 22:40] Fisiu commented on #170
Tag files are not being rendered. I'll try to debug it.

2015-01-29 14:06 GMT+01:00 Jonathan Bullock <notifications@github.com>:

--
Pozdrawiam / Best regards,
Mariusz Fik,
openSUSE Community Member

[2015-01-31 09:31] jonbullock commented on #170
Could you point me at the site/project source that's triggers this issue?

[2015-02-03 19:27] Fisiu commented on #170
I tested current snapshot, and results are promising ;-)
With JBake v2.3.3-SNAPSHOT (2015-02-03 20:11:49PM) tags are being rendered
properly, but... When I open 'some tag' page, and then I can see posts url
as ${HOSTNAME}/tags/${post.uri} but they should not contain /tags/.

2015-01-31 10:31 GMT+01:00 Jonathan Bullock <notifications@github.com>:

--
Pozdrawiam / Best regards,
Mariusz Fik,
openSUSE

[2015-02-03 19:57] Fisiu commented on #170
Ok, i resolved url issue with prepending “/“ before ${post.uri} in my
tags.ftl.

--- a/src/main/jbake/templates/tags.ftl+++
b/src/main/jbake/templates/tags.ftl@@ -24,7 +24,7 @@
                 </#if>
                            <#assign last_month = post.date?string("MMMM yyyy")>
                 <li>-                  <p>${post.date?string("dd")} -
<a href="${post.uri}">${post.title}</a></p>+
<p

[2015-02-04 15:56] rajmahendra commented on #117
I have created a demo subproject for jbake feel free to comment https://github.com/rajmahendra/jbakeproject

Did some changes in package name change. I yet to answer assemble.

[2015-02-04 23:35] jonbullock commented on #117
Thanks Raj, will definitely be useful when the break up into sub-modules begins.

[2015-02-07 07:59] uli-heller opened #172 "Broken link to /archive in index.gsp"
The link 'Older posts are available in the archive.' is broken in case you're not running jbake in the root context. It points to "/archive" instead of "/context/archive". In my opinion, this can be fixed with

[code]

[2015-02-08 19:30] jonbullock commented on #61
Thanks again.

[2015-02-08 19:30] #61 closed

[2015-02-09 00:26] jonbullock commented on #170
That'll be due to support for generating non-root sites, I'll double check the sample templates to make sure they are updated.

Thinking about it you could also put:
[code]

[2015-02-09 00:28] jonbullock commented on #172
Thanks for raising this.

[2015-02-09 17:15] Fisiu commented on #170
`${content.rootpath}` would solve post's url issue too. Anyway, we need to update documentation to include new [data models](http://jbake.org/docs/2.3.2/#data_model).

[2015-02-09 17:15] #170 closed

[2015-02-10 12:27] gilbertoca commented on #41
I came from Jekyll because of this feature,  just install JBake and you (users/designers/frontend) are ready. No need to sudo here, sudo there or anything else that obstruct you from see/work at what are you doing as blogger or designer.

[2015-02-10 19:13] jonbullock commented on #41
Thanks for the feedback Gilberto.

[2015-02-10 19:57] gilbertoca opened #173 "Special character in the title field of the meta-data header are not escaped"
The following example is causing issues:

title=Oracle JInitiator + Forms + IE6/IE7 + Windows Live Toolbar = Problema

Escaping it with \ didn't help:

title=Oracle JInitiator \+ Forms \+ IE6\/IE7 \+ Windows Live Toolbar \= Problema

[2015-02-10 20:01] jonbullock commented on #173
Thanks Gilberto.

Code at https://github.com/jbake-org/jbake/blob/4a9732be7d3dc69367c1d7b0f5ce5d1a7b483066/src/main/java/org/jbake/app/Parser.java#L175 needs to allow usage of ```=``` in title

[2015-02-10 20:17] jonbullock opened #174 "Baking shows "Unable to convert object to String[]" error, sometimes multiple times, with no other explanation"
Baking shows "Unable to convert object to String[]" error, sometimes multiple times, with no other explanation.

User needs to be pointed at content file causing this error and why, to give them a chance of correcting the issue.

[2015-02-12 13:00] RobWin commented on #130
Hi,

i'm using thee following Gradle plugins and I have the same issue like @aalmiray

buildscript {
    repositories {
        jcenter()
        mavenCentral()
    }
    dependencies {
        classpath 'me.champeau.gradle:jbake-gradle-plugin:0.2'
        classpath 'org.asciidoctor:asciidoctorj:1.5.2'
        classpath 'org.freemarker:freemarker:2.3.19'
    }
}

[2015-02-12 13:04] RobWin opened #176 "JBake Gradle Plugin fails in AsciidoctorEngine.processHeader"
Hi,

i'm using the following Gradle plugins and I have the same issue like @aalmiray

[code]
[code]
Kind regards,
Robert Winkler

[2015-02-12 13:33] RobWin commented on #176
ok. I found this Gist
https://gist.github.com/aalmiray/1e38835b75d646d00e51

classpath 'org.jbake:jbake-core:2.3.2' was missing in dependencies.
But why is this not automatically included?

[2015-02-12 17:29] gilbertoca opened #177 "Add jbake -version OPTION"
-version print product version and exits the program

[2015-02-12 19:18] gilbertoca opened #178 "org.jbake.template.RenderingException: java.lang.NullPointerException: Cannot invoke method contains() on null object"
I've build JBake locally (jbake-2.3.3-SNAPSHOT). Created a branch [1] with jbake -i groovy, copy my posts to that folder content, enabled tags in jbake.properties. Running jbake I got this exception in all posts - everyone has tags.

[1] https://github.com/gilbertoca/gilbertoca.com/tree/ybonnel-template

[2015-02-13 21:38] jonbullock commented on #178
I've just checked out that branch and looked at the first occurrence of the NPE on 2008/04/frm-92101.html and the content file doesn't have any tags defined?

Because the post.gsp template doesn't perform a null check on line 37 there is an NPE.

[2015-02-13 21:40] jonbullock commented on #177
Thanks for the suggestion.

[2015-02-13 21:54] jonbullock commented on #176
With the added line in the dependencies does this resolve the stacktrace?

I've not tested JBake against Asciidoctor v1.5.2 yet, I was planning on adding support for it in the next release though.

[2015-02-17 23:08] gilbertoca commented on #178
I didn't understand, why I need to do this in post template - there is no references to tag in it?

Just a little experiment:
mkdir default-jbake-folder
cd default-jbake-folder and jbake -i
edit jbake.properties, render.tags=true
edit second-post.md, removing tags=blog
run jbake
You will see:
´´´
19:58:11.347 INFO  org.jbake.app.Oven - Baking finished!
19:58:11.348 INFO  org.jbake.app.Oven - Baked

[2015-02-18 03:10] gilbertoca opened #179 "Reclassify ERRORS to WARNINGS when invalid header is detected and display relevant file"
jbake or jbake -b should stop on first occurrence of any ERROR, for example:

    ERROR org.jbake.app.Parser - Error parsing meta data from header!

[2015-02-18 16:37] jonbullock commented on #179
I'm not so sure about this one, especially given your example, as it would mean the only files you could store in the content folder is working content, you couldn't have anything as a work in progress in there.

The current behaviour is also by design, to allow you to see all errors from your project/site in one go without having to go through a cycle of run-fix over and over again.

Perhaps the

[2015-02-18 16:42] jonbullock commented on #178
My comment earlier was in relation to the branch you referenced.

Your last issue (which uses the default templates) should be fixed in the next release. Just to check this, what version are you using for your experiement?

[2015-02-18 19:05] gilbertoca commented on #178
I saw now! I'm sorry, I'm uncertain in choosing the template - Freemarker or Groovy. I will study them a little more before report a issue. Again, sorry for take you time.
I've used jbake-2.3.3-SNAPSHOTwith this script:
[code]

[2015-02-18 20:38] gilbertoca commented on #179
How can we see the line and the error type - something wrong occurred but I don't know what?

[2015-02-18 22:42] jonbullock commented on #179
That's the information that's lacking at the moment and will be addressed as part of #174.

[2015-02-18 23:11] jonbullock commented on #178
I tend to use Freemarker personally, only because it's what I have most experience with. If you have prior experience with a particular engine I would recommend you use that engine over others.

Hopefully I'll be able to get the next release out soon which will fix this issue.

[2015-02-19 00:52] gilbertoca commented on #179
You can use my project [1] to test this feature. I've converted my blog [2] using the wordpress-to-jekyll-exporter, but the result was not good enough for jbake as you can see here #178 .

[1] https://github.com/gilbertoca/gilbertoca.com
[2] blog.gilbertoca.com
[3] https://github.com/benbalter/wordpress-to-jekyll-exporter

[2015-02-19 13:59] jonbullock commented on #179
Thanks Gilberto, I will do.

[2015-02-19 23:01] gilbertoca opened #180 "Make the parsing metadata more flexible(intelligent)"
Currently the following header is not recognizable by jbake [1]:
[code]
It complains about the following items:

1. the first line is blank
2. each field has white space after equal sign
3. the field tags is multi-line

It would be good if it was more flexible. Maybe performing a trim after the equal sign and checking only the final value for correctness -in the multi-line case, concatenate all li

[2015-02-26 14:28] gilbertoca opened #181 "renderTags replaces space by hyphen"
But template engine (freemarker) does not know about it - alltags, content.tags and tag_posts comes with space.
For now I've changed it locally:
[code]

[2015-02-26 20:29] jonbullock commented on #181
Hi Gilberto,

Any spaces in the tag are replaced with a dash purely for the rendering of the page for the tag. The data model should hold the un-modified tag value. Is this not the case?

[2015-02-27 11:12] gilbertoca commented on #181
All tag link breaks - because ${tag} is the un-modified and the final URI generate by this method is contains the hyphen. So, you put the hyphen and I as final user have to remove them.

[2015-03-04 22:37] jonbullock commented on #181
Ah in that case then I'll make sure the URI friendly (and modified) value is also available to the templates.

[2015-03-07 12:26] keilw opened #182 "Improve i18n support of Jbake script"
While Maven execute may actually allow this by passing necessary arguments to Maven, the jbake(.bat) scripts won't accept arguments like "-Duser.language=en". Thus by default calling these results in the OS language. If a user like myself works on a German OS, it may not be the preferred language for baking. Would it be possible to have the JBake script take optional arguments for language or coun

[2015-03-07 13:36] jonbullock commented on #182
Yeah sure, the execution scripts are pretty simple at the moment and could do with being enhanced.

[2015-03-08 05:23] sengopal opened #183 "Enhancement request to autobuild on new changes of the content files"
Static site generators such as Pelican has the ability to rebuild the content on changing the templates or the content. This is achieved using a gradle/grunt task which triggers the build on change of files.

[2015-03-08 06:47] sengopal opened #184 "Adding a <script> tag in GSP template gives "Failed to render archive""
In the footer.gsp, adding a script tag with javascript, fails the render with error message

[code]

[code]

[2015-03-08 08:57] metlos commented on #18
my 2c - `ServiceLoader` is great but sooner or later you'll run into problems of 2 plugins requiring different versions of the same support library and with the flat classpath you're done.

In 1 of my projects, I actually combine the "normal" service loader mechanism - that a "core" library uses to locate the plugins with Forge Furnace used at the CLI level that takes care of (down)loading the plu

[2015-03-08 11:00] mwanji commented on #18
@metlos you could mitigate that by requesting that plugins inline their dependencies. That might even be necessary for the command line app.

Jboss Modules could be a good solution, depending on how well it applies to both command line and embedded uses.

That said, this ticket is two years old, I stopped holding my breath for a pluggable architecture a long time ago.

[2015-03-08 22:51] jonbullock commented on #18
Thanks for the advice @metlos definitely look into this.

@mwanji Unfortunately I've not had the time I'd hoped to dedicate to this but I'll get there in the end :)

[2015-03-08 22:54] jonbullock commented on #184
Thanks for reporting this, can I just confirm you were using the latest version of JBake, v2.3.2 ?

[2015-03-09 05:52] sengopal commented on #184
Yes.

± % gvm current jbake
Using jbake version 2.3.2

[2015-03-09 09:57] metlos commented on #18
@mwanji true - if you have the requirement that the plugins inline all their deps into a single jar, you could do even without JBoss Modules. Just use a `URLClassloader` load each plugin separately and then use `ServiceLoader.load(Plugin.class, pluginClassloader)`.

I used Furnace because it comes with a number of bells and whistles I liked - automatic downloading of deps based on the maven metada

[2015-03-11 20:48] ancho commented on #184
you need to escape the $, because the SimpleTemplateEngine tries to interpret it as variable or expression.

\$function(.... works.

[2015-03-11 22:34] jonbullock commented on #184
Thanks @ancho

[2015-03-11 22:34] #184 closed

[2015-03-12 02:51] sengopal commented on #184
Thanks @ancho.That helped a lot.

[2015-03-26 00:29] nyeates commented on #80
I dont pretend to understand what all this is, or what jbake is for that matter, but the TOC stuff is still 'broken' in github public. Thx for workaround!

[2015-03-27 22:36] dknight commented on #183
Yes, would be nice to have autobuild option on file's change.

Like "jbake --autobuild"

I made own primitive hook based on the DirWatch (http://docs.oracle.com/javase/tutorial/essential/io/notification.html).

[2015-03-27 22:53] dknight opened #187 "Redundant slash in the Example Project Structures"
The issue is pretty tiny and developer can easily fix it in templates, but hard to notice. I found it accidentally. When you download the package there is archive example_project_freemarker.zip

So sitemap.ftl and feed.ftl both use ${config.site_host} to generate URLs.

Sitemap doesn't contain a slash <loc>${config.site_host}${content.uri}</loc>
But Feed does <link>${config.site_host}/${post.uri}<

[2015-04-04 12:50] aruizca opened #188 "Unable to render an additional template using Gradle"
I have added the file examples.gsp to the /templates folder and the following line to my build.gradle:

[code]
but the examples.html is not rendered in the output folder. I did the same for a template called documentation and it worked. Why is this new one not working?

[2015-04-04 12:57] aruizca commented on #188
Nevermind. It lloks like you need some content using the template

[2015-04-04 12:57] #188 closed

[2015-04-19 06:04] RobWin commented on #176
Yes it solved the issue.

[2015-04-19 10:23] #176 closed

[2015-05-01 20:37] marc0der opened #189 "Integrate with GVM Vendor API"
GVM now has an API that allows vendors like JBake to publish their own releases. A convenient Gradle plugin is also provided that does all the hard work for you.

It would be great to see JBake integrate with this API and managing their own releases.

[2015-05-05 11:57] jonbullock commented on #183
Until recently I hadn't fully understood how important this feature is. It'll definitely be moved up the priority list.

@dknight could you share a link to the hook you made?

[2015-05-05 11:59] jonbullock commented on #187
Yeah I had noticed this and fixed it in the main repo for the Freemarker example project, I'll make sure this is included in the next release :)

[2015-05-05 12:15] jonbullock commented on #189
That sounds excellent, where can I find information about the API?

[2015-05-05 12:37] marcoVermeulen commented on #189
For sure, I've posted a blog explaining how it all works:
http://www.wiredforcode.com/blog/2015/03/26/the-gvm-vendor-api/

I will need to issue you with API credentials, you can contact me directly
to obtain those.

Give me a shout if you need any help with setting it all up.

On Tue, 5 May 2015 at 13:15 Jonathan Bullock <notifications@github.com>
wrote:

[2015-05-05 21:50] jonbullock opened #190 "Feeback from use on Vert.x 3 site"
https://groups.google.com/forum/#!msg/vertx-dev/l7Gn6rS1upg/hK8G77fkrycJ

Feedback is a mix of missing features (inc. CSS & JS post-processing), misunderstanding of usage (non-content files should be placed in asset folder if required in output) which should be addressed in improved docs and some that requires further investigation regarding Asciidoctor and missing JS.

This is a place holder so I

[2015-05-05 21:58] jonbullock commented on #189
Thanks Marco, I'll e-mail you to get some credentials.

Migrating to Gradle is on my to do list but quite far down at the moment, so I'll probably use the REST API for the next release.

[2015-05-06 21:36] jonbullock opened #191 "Leading spaces in tags defined in AsciiDoc format are not removed"
Discovered while testing fix for #181

[2015-05-06 21:38] #191 closed

[2015-05-06 21:58] #181 closed

[2015-05-07 11:57] jonbullock commented on #174
This error was being shown each time the data model was called from a template and accessed the tag information, it wasn't occurring when content was being crawled or parsed so there is no piece of content to refer the user to when the error is being thrown. It is valid for a piece of content to not have an tags.

[2015-05-07 11:57] #174 closed

[2015-05-07 12:03] #179 closed

[2015-05-07 12:06] #178 closed

[2015-05-07 12:15] jonbullock commented on #172
Fixed see: https://github.com/jbake-org/jbake-example-project-groovy/commit/2fea39eb82e38f72739f6a075577f80edb0e2f13

[2015-05-07 12:15] #172 closed

[2015-05-07 19:04] #173 closed

[2015-05-07 21:24] pitpalme opened #194 "API change for Oven constructor"
Hello,

I've noticed there's an API change after 2.3.2, introduced in commit a4458cb83b89d30d7f64ad00cb6caedff467e59d.

org.jbake.app.Oven's constructor was enhanced by on additional parameter: 'config'.

This is problematic when using https://github.com/ingenieux/jbake-maven-plugin/ in it's current version 0.0.9.

Is there any specific reason there's no delegating constructor preserving the old A

[2015-05-07 22:51] jonbullock commented on #194
Hi Peter,

Thanks for picking this one up, the original commit that made this change was: https://github.com/jbake-org/jbake/commit/cef489d5582ea38275df3e1f320211a52c6d2432

This API change will also cause a similar issue for the Gradle plugin too.

Moving forward I'd like to avoid having a delegating constructor if we can address the underlying need for it.

@lefou is there a specific reason the

[2015-05-08 06:33] lefou commented on #194
The configuration is used in multiple places. Now, it is loaded only once in the `Main.run()` method. By injecting it into various places it is guaranteed that all components use the same configuration. Also is would be easy to change the way the configuration is loaded. In fact, it doesn't need to be loaded from a file at all. This of course supports our aim to use JBake as a library.

Why is the

[2015-05-08 07:21] pitpalme opened #195 "Extend ThymeLeaf usage by Dialect"
Hello,

in jbake-example-project-thymeleaf/templates/header.thyme there's an IE conditional include of javascript.
Unluckily it's not rootpath relative, but statically absolute to "/".

I'd like to extend "ThymeleafTemplateEngine" to enable usage of "ConditionalCommentsDialect" - if present on ClassPath.

What's the general opinion about this? Any reasons this shouldn't be there?

I'd open a PR if

[2015-05-08 12:37] jonbullock commented on #194
Thanks @lefou I may be wrong about the Gradle plugin, I was looking at this line: https://github.com/jbake-org/jbake-gradle-plugin/blob/master/src/main/groovy/me/champeau/gradle/JBakeTask.groovy#L70

The Main class and CLI are wrappers around the core API of which Oven is the main entry point and it has crossed my mind to improve the core API to make it more friendly (i.e. removing the need for Ov

[2015-05-09 13:33] jonbullock commented on #194
I've been reviewing how much of the CLI uses/needs the configuration and your suggestion of providing a delegating constructor is probably the simplest solution for the v2.4.0 release. That way the API can be altered as much as required in v3 by following the semantic versioning strategy.

So if your still happy to submit a PR then please do.

[2015-05-09 14:34] jonbullock commented on #195
Hi Peter,

Is it possible to use content.rootpath value for the IE conditional to make the path relative?

Jon

[2015-05-09 14:41] #111 closed

[2015-05-09 15:12] #187 closed

[2015-05-09 15:49] jonbullock opened #196 "Update docs for v2.4.0"
Docs should include details on:

- [x] New template variable: baked_timestamp
- [x] JSON support in content metadata header
- [x] Ability to specify path to use for new project initialisation
- [x] Ability to specify extension to be used when outputting content using custom templates (i.e. https://gist.github.com/jonbullock/5a380cf7f9a37a8cec48)
- [x] Output folder is located in source folder by d

[2015-05-09 15:50] jonbullock opened #197 "Test AsciidoctorJ v1.5.2 dependency"
See if v2.4.0 can use v1.5.2 of AsciidoctorJ

[2015-05-09 17:01] ancho commented on #194
:+1: to the delegating constructor for 2.4.0

[2015-05-09 20:41] pitpalme commented on #195
Hi Jon,

yes it is. I've extended "header.thyme" to make use of "content.rootpath" for "js/html5shiv.min.js", but the surrounding

[code]

prevents ThymeLeaf from evaluating the dynamic part.
I've managed to write some ThymeLeaf code for writing the comments as part of generated output, instead of template, but that's ugly. Than I discovered mentioned ThymeLeaf extension, addressing exactly this i

[2015-05-11 12:04] jonbullock commented on #195
Ah right thanks for investigating that. If your happy to add support for ConditionalCommentsDialect then I'd be happy to include support.

[2015-05-11 12:10] jonbullock commented on #194
See commit: 44fa838917682cf1c0b3a4a0036691cbed5d114f

[2015-05-11 12:10] #194 closed

[2015-05-11 12:48] jonbullock opened #199 "Asciidoctor engine is outputting debug level statements"
For each file you see:

13:46:23.101 [main] DEBUG o.a.internal.JRubyAsciidoctor - asciidoctor -B /Users/user/jbake/i172/content/blog/2013 -S UNSAFE -a source-highlighter=prettify -

Need to control the level of logging in logback.xml

[2015-05-11 12:49] #199 closed

[2015-05-11 12:52] jonbullock commented on #196
Also:

* New configuration option: asset.ignore

[2015-05-13 21:55] #195 closed

[2015-05-16 02:47] sirinath opened #201 "Embedded Usage"
In instances where you want to dynamically generate web content, it would be good to use JBlake in embedded mode.

It is possible to add support and API to use this as a library.

[2015-05-16 02:51] sirinath opened #202 "Scripting and Expression Language Support"
It is possible to support expression language and scripting support to dynamically generate the mark up docs and then process.

This will be very useful for: https://github.com/jbake-org/jbake/issues/201

[2015-05-17 17:48] jonbullock commented on #201
You can embed JBake and use it as a library today, the core is available on Maven Central.

People have already developed Maven, Gradle & SBuild plugins using the current API.

[2015-05-17 17:51] jonbullock commented on #202
Could you elaborate on this a bit further? There is nothing stopping you using any scripting language you like today and dynamically generating the content files for processing by JBake using the API today.

[2015-05-17 22:41] jonbullock commented on #197
Initial testing suggests it works fine without any modification to code needed.

[2015-05-17 22:41] #197 closed

[2015-05-17 22:42] jonbullock opened #203 "Upgrade AsciidoctorJ dependency to v1.5.2"
See #197

[2015-05-17 22:44] jonbullock opened #204 "Discrepancy in numbers output when baking jbake.org"
Discrepancy in numbers output when baking jbake.org:

Just after crawling content you see:

23:04:53.245 INFO  org.jbake.app.Oven - Pages : 30
23:04:53.246 INFO  org.jbake.app.Oven - Posts : 9

Then at the end of baking you see:

23:04:53.628 INFO  org.jbake.app.Oven - Baked 40 items in 5280ms

[2015-05-17 22:47] jonbullock commented on #204
Down to custom types being used in content but numbers output need to reflect this correctly.

[2015-05-17 22:48] jonbullock opened #205 "OrientDB appears to be logging separately and isn't controlled via logback.xml"
23:04:53.628 INFO  org.jbake.app.Oven - Baked 40 items in 5280ms
May 17, 2015 11:04:53 PM com.orientechnologies.common.log.OLogManager log
INFO: Shutting down storage: cache...
May 17, 2015 11:04:53 PM com.orientechnologies.common.log.OLogManager log
INFO: Orient Engine shutdown complete

[2015-05-17 23:04] jonbullock opened #206 "Warning for custom.properties shows above program name even when showing command line help"
Example:

[code]

Consider moving code that checks for existence of custom.properties into later stage of pipeline or remove need for config to be loaded in CLI before showing app name an version.

[2015-05-18 03:23] sirinath commented on #202
E.g. something like
[code]

in a supported scripting language. Groovy, Scala, are ideal choices for initial support.

[2015-05-18 18:49] jonbullock commented on #202
Groovy is already supported as a template engine and enables code like you've shown. There is also a comprehensive data model that is exposed to the template engines too.

[2015-05-19 11:57] #203 closed

[2015-05-19 21:11] ancho commented on #205
Hi,

there are different legacy bridges for slf4j. See http://www.slf4j.org/legacy.html

The jul-to-slf4j bridge could be used to bridge the logging from OrientDB as it uses the java.util.logging framework.

[2015-05-19 22:46] #205 closed

[2015-05-19 23:30] #204 closed

[2015-05-20 11:56] jonbullock commented on #196
CLI init command now allows a folder to be specified, you can choose template engine using -t option.

[2015-05-20 12:02] jonbullock commented on #196
Discussion & suggestions about how docs can be improved:

https://groups.google.com/d/topic/jbake-user/5-m4_3QAYjY/discussion

[2015-05-25 12:14] jonbullock commented on #196
jbake/jbake.org#22

[2015-05-25 12:15] jonbullock commented on #196
jbake-org/jbake.org#19

[2015-05-25 12:15] jonbullock commented on #196
jbake-org/jbake.org#18

[2015-05-25 12:16] jonbullock commented on #196
jbake-org/jbake.org#13

[2015-05-25 17:57] jonbullock opened #208 "Expand on summary information provided at end of baking to include details on files ignored"
See: https://groups.google.com/d/topic/jbake-user/xGISVTtuNmU/discussion

[2015-05-26 21:22] jonbullock opened #209 "Newly added data model variable 'baked_timestamp' is duplicated"
Newly added data model variable 'baked_timestamp' is duplicated, a similar variable already exists: 'published_date'.

Duplicate was added as part of #40

[2015-05-30 12:53] jonbullock commented on #196
See commit jbake-org/jbake.org@31d90aff64e1f376713fc8848c2f678d047b137a

[2015-05-30 12:53] #196 closed

[2015-05-30 13:00] ancho commented on #196
:+1:

[2015-05-31 22:08] laplasz commented on #80
if I am using only :toc: macro, then I get a ToC at the left side of the doc - so toc::[] not needed, but without 'macro' value it is not rendered

[2015-06-01 20:50] jonbullock commented on #201
The updated docs for 2.4.0 now has a section on how JBake can be embedded as a library:

http://jbake.org/docs/2.4.0/#use_as_libary

If there is any more info you require please let me know so I can get it added to the documentation.

[2015-06-01 21:01] jonbullock commented on #202
Here's the link to the example project that includes some Groovy templates: https://github.com/jbake-org/jbake-example-project-groovy

There is also more details on the data model exposed in the updated docs: http://jbake.org/docs/2.4.0/#data_model

Does this cover your requirements?

[2015-06-03 21:27] jonbullock opened #210 "Upgrade version of Bootstrap used in example projects to v3.x"
Upgrade version of Bootstrap used in example projects to v3.x

[2015-06-07 11:44] uli-heller opened #211 "Index page for "tags"?"
I'm not sure, maybe I'm missing something so this is potentially just an issue of my understanding...

I'm trying to use "render.tags" in the protoype of my blog. It seems to work quite OK, but somehow I'm missing something like a "landing page" or an index. My "idea" is this:

* you have a menu item called "tags"
* when you click on it, you're landing on an index page showing all available tags
*

[2015-06-07 17:27] jonbullock commented on #211
The tag support provides a rendered page per tag used but it doesn't currently provide an index page for the tags. However this is possible by using the custom template support - http://jbake.org/docs/2.4.0/#custom_templates

If you create a content file in your /tags folder called index.html and give it a metadata header such as:

    title=Tags Index
    date=2015-06-07
    type=tagindex
    sta

[2015-06-07 18:33] uli-heller commented on #211
Hi Jon,

your proposal works absolutely fine!

Thanks a lot, Uli

Am 07.06.2015 um 19:27 schrieb Jonathan Bullock:

--
Uli Heller

daemons point Gesellschaft für Datenverarbeitung mbH
Zahn-Nopper-Straße 1-3, 70435 Stuttgart
Internet: www.daemons-point.com
Tel:+49 711 806708 0, Fax: +49 711 806708 19
mailto:uli.heller@daemons-point.com

Geschäftsführer: Steffen Walter, Uli Heller
Sitz der Gesellsch

[2015-06-07 18:35] uli-heller commented on #211
Thanks, I'm closing the issue....

[2015-06-07 18:35] #211 closed

[2015-06-07 19:09] jonbullock commented on #211
Glad to hear it, I'll make sure this scenario is covered by the docs in case somebody else wants to achieve the same goal.

[2015-06-07 23:06] uli-heller opened #213 "tag_posts: Contains draft posts as well as published posts"
I believe there is an error within "tag_posts". From what I understand, only published posts are supposed ton show up within the list. Unfortunately, draft posts seem to show up, too. This leads to broken links.

For me, a simple change to ContentStore.java seems to fix the issue.

The version I used is 2.4.0.

[code]

I'll create a pull request for this... #214
Maybe it was a bad idea to create a

[2015-06-08 20:09] jonbullock commented on #213
Thanks for taking the time to raise this issue.

[2015-06-09 12:40] sirinath opened #215 "Slim (http://slim-lang.com/) Support"
Through JRuby maybe you can support this also.

[2015-06-09 12:48] jonbullock commented on #215
That template engine is a Ruby based one and requires some lower level Ruby frameworks (Temple & Tilt) before support could be added. Some initial investigation on how to use Tilt via Java was done under the AsciidoctorJ project but ran into some significant hurdles. So it's unlikely we'll support that engine any time soon.

However if you want a template engine like that you should look at the Gr

[2015-06-09 13:02] sirinath commented on #215
When will 2.5 come out?

[2015-06-09 13:34] jonbullock commented on #215
No date scheduled yet but I'm hoping within the next 4-8 weeks.
On 9 Jun 2015 2:02 pm, "Suminda Dharmasena" <notifications@github.com>
wrote:

[2015-06-12 05:18] uli-heller opened #216 "Tagcloud: Number of posts per tag"
I'm doing a tagcloud on my blog. For this, I need the number of posts per tag.
I didn't find a documented way to get this number, so I'm using

[code]

within one of my gsp templates for now.

Does it make sense to create a public object and method for this? Similar to "alltags"? Or an extension to it?

[2015-06-13 04:48] haumacher commented on #145
Just to de-mystify "In your jbake.properties you can configure the special index file not to be rendered...":

One has to set
[code]
in the `jbake.properties` of the site.

[2015-06-13 09:49] jonbullock commented on #145
Yes that's correct, the docs now cover this option: http://jbake.org/docs/2.4.0/#render_index_file

[2015-06-13 09:56] jonbullock commented on #216
Yeah that sounds like a great idea.

[2015-06-25 17:12] haumacher opened #221 "Document representation in JBake"
Hi,

having studied some of the JBake code, I've the following question: After parsing the page source from the `content` folder and before baking, documents are internally represented as `ODocument` instances and stored in an OrientDB graph database. In the default configuration, this database is kept in memory only - created when JBake is started and dropped when the VM exists after baking all d

[2015-06-26 13:55] stevenemrick opened #222 "ANCHORLINKS not working"
hi - I upgraded to pegdown 1.5.0 and I'm on Jbake 2.4.0 now.  In my jbake.properties file I want to use ANCHORLINKS in my markdown.extensions, as pegdown 1.5.0 now supports this.  But it's not working.  I need the functionality to create jump tags within a page.  Does anyone know why this is not working?   I also created a [ticket](https://github.com/sirthias/pegdown/issues/166) on the pegdown sit

[2015-07-04 06:01] uli-heller commented on #222
I've tried to investigate a little bit  about about ANCHORLINKS:

* pegdown-1.5.0 has been released in Feb 2015
* on its [intro page](http://pegdown.org), I don't find anything related to anchorlinks
* within [github](https://github.com/sirthias/pegdown), I can search for ANCHORLINKS and find some references
* as mentioned by you, it has to show up within Extensions.java and it is there in the mas

[2015-07-10 14:22] uli-heller commented on #222
So, I made a few more tests:

1. I recompiled jbake-2.4.0 using pegdown-1.5.0 instead of pegdown-1.4.2
2. Within jbake.properties, I have this: `markdown.extensions=ALL,-HARDWRAPS`
3. Then, I "baked" some sample pages

With standard 2.4.0 using pegdown-1.4.2, the outcome looks like this:

[code]

With the freshly compiled 2.4.0 using pegdown-1.5.0, the outcome looks like this:

[code]

So I think:

[2015-07-10 15:19] stevenemrick commented on #222
Wow - I could have sworn I tried the 'ALL' solution and it didn't work, but of course it is now ;)
Thank you!!

[2015-07-21 22:57] Jiri-Kremser opened #223 "Support for LESS or SASS"
It's more a feature request than issue.

Is [less](http://lesscss.org/) or [sass](http://sass-lang.com/) support on your roadmap? Working with plain css is pretty cumbersome. It can be done manually by a preprocessing, but if it's part of the jbake build it'd be much better because the mvn plugin watch goal will work with it.

[2015-08-01 19:07] msgilligan commented on #107
Why not move to Java 8? By it's nature JBake is a standalone tool installed on an individual machine that generates static output that is pushed to the server. So there's no worry about any runtime requirements other than in the build tools themselves. Java 7 is reaching end-of-maintenance (or whatever) and Java 8  offers significant improvements.

I'd love to see v3.0.0 support Java 8.

[2015-08-03 20:53] msgilligan commented on #210
Is the process for upgrading Bootstrap version documented?

I'd love to see a way to rebuild the minified Bootstrap files into the `jbake/assets` folder. Any suggestions on how to do that? Something using the Asset Pipeline Gradle Plugin would be ideal for the use cases I have in mind.

[2015-08-03 21:46] msgilligan opened #224 "Move to Java 8 for v2.5.0 or v3.0.0"
By its nature JBake is a standalone tool installed on an individual machine that generates static output that is pushed to the server. So there's little worry about runtime requirements other than in the build tools themselves. Java 7 is reaching end-of-maintenance (or whatever Oracle calls it) and Java 8 offers significant improvements.

I see no reason not to move to Java 8 for v2.5.0, but at th

[2015-08-03 21:47] msgilligan commented on #107
I created issue #224 asking for Java 8. If there is agreement that we should skip Java 7 than this issue can be closed in favor of that issue.

[2015-08-12 10:19] hohwille commented on #80
It used to work like this:
[code]

However, it stopped working recently with a silent update of github platform :-1:
Is someone still able to get a TOC for Asciidoc on Github wiki?

[2015-08-12 21:35] jonbullock commented on #80
GitHub upgraded to Asciidoctor v1.5.2 recently: https://twitter.com/mojavelinux/status/628344681672241152

See above for solution: https://github.com/jbake-org/jbake/issues/80#issuecomment-60754340

[2015-08-13 06:42] abelsromero opened #225 "Support for Cygwin"
This is not a big issue, but this request aims to offer a nice first time experience to cygwin users.
To use jbake with cygwin, you have to give exec permissions to the jbake.bat command. But then when you use `tab` to autocomplete the command both `jbake` and `jbake.bat`.
You can also do other changes to end with a clean jbake command, but it's a p*** .

I found that this can easily fixed replaci

[2015-08-13 13:00] jonbullock commented on #221
Hi Bernhard,

The persistent store is to enable incremental rendering, so only content that has added or changed is baked. The store provides the reference to check content against.

Config option to enable persistent store: http://jbake.org/docs/2.4.0/#persistent_content_store_path

Jon

[2015-08-13 21:02] jonbullock commented on #43
Contributing guide should be in separate file, good example is the Asciidoctor project one: https://github.com/asciidoctor/asciidoctor/blob/master/CONTRIBUTING.adoc

[2015-08-13 21:39] jonbullock commented on #222
Thanks for doing the investigation @uli-heller

If a new release of Pegdown is released soon I'll make sure to include it in the next release.

[2015-08-13 22:21] jonbullock commented on #223
Yes support for them is on the roadmap, potentially as part of the plugin system along with minification of assets.

[2015-08-14 06:40] cloudtu opened #226 "incremental rendering feature is broken in v2.4.0"
I add `db.store=local` in `jbake.properties`. It enable incremental rendering feature,but always render all pages every time. This feature is broken in v2.4.0.

first run

[code]

second run

[code]

I found this feature work well in v2.3.2,but broken in v2.4.0. Please help to solve this bug, thanks a lot.

[2015-08-14 09:38] haumacher commented on #223
Is there some information about this "plugin system"? I'd like to integrate a mechanism to obfuscate email addresses from posts and pages (rewriting them as JavaScript that is hard to parse from the page source). I prototyped such post-processing of rendering results in [385130f3a0f6b2c4d1bbdebcb4b58c0ad07f343d] - but of cause, this required hacking the Renderer and is not yet configurable.

[2015-08-14 19:43] jangalinski commented on #224
+1

[2015-08-16 19:00] jonbullock commented on #210
No it's not... it's been a manual process so far, there was some CSS conflicts between Asciidoctor & Bootstrap that I had to manually resolve. My plan was to create a custom backend for Asciidoctor so that we could add a CSS prefix to avoid any conflicts.

Processing of assets is something I'd like to add... something I was hoping the extension/plugin system would help enable.

[2015-08-16 19:08] jonbullock commented on #224
Absolutely fine with me, I'll give the community chance to voice any concerns on the other thread before closing it in favour of this.

[2015-08-16 19:09] jonbullock commented on #107
I've not got any issue in jumping straight to Java 8 and skipping Java 7.

If anyone has any issues with this please plan voice them here.

[2015-08-16 19:22] jonbullock commented on #225
Thanks for the suggestion, I'll include this in the v2.5.0 release.

[2015-08-16 19:45] jonbullock commented on #226
Thanks for taking the time to raise this issue... I'll investigate and get back to you.

[2015-08-16 19:48] jonbullock commented on #226
Ah the following line needs to be added to: https://github.com/jbake-org/jbake/blob/master/src/main/java/org/jbake/app/Crawler.java#L127

[code]

[2015-08-16 19:59] jonbullock commented on #223
Here's my vision on how it'll work: https://github.com/jbake-org/jbake/pull/78#issuecomment-101652595

[2015-08-16 20:04] melix commented on #224
Just to make it clear : as soon as you require 1.8, you force all
downstream apps that integrate JBake to upgrade. It means the Gradle plugin
as well as the maven one. It's not necessarily a good thing.

Your call anyway.
Le 16 août 2015 21:08, "Jonathan Bullock" <notifications@github.com> a
écrit :

[2015-08-17 08:22] haumacher commented on #224
For JBake users, there is no benefit when increasing the minimum Java compatibility level. Currently built against Java 6, JBake should be runnable on any Java 6, Java 7 and Java 8 VM (if that's not the case it's an issue that should be fixed).

When compiling against Java 8, you require a Java 8 VM for runtime. The only benefit upgrading the JVM version is the possibility to uses Java 7 or Java 8

[2015-08-17 08:32] msgilligan commented on #224
This is a huge advantage to the project IMO.

Aside from the Gradle and Maven plugins (which should be straightforward to upgrade) what embedding apps are there? @haumacher Do you have a specific embedding app in mind?

My impression is that JBake is used on individual machines to generate static sites and is not embedded in complex server applications which are slow to upgrade. It would be great

[2015-08-17 08:35] melix commented on #224
@msgilligan Straightforward to upgrade doesn't mean that it's good to do: it means that your complete build has to upgrade to Java 8. This is not something all projects want. With Gradle we can conditionally apply the plugin based on the JVM running, not sure it's doable with Maven. And why do we conditionally apply? Well, for Groovy (disclaimer: Groovy doesn't use JBake), we make sure the project

[2015-08-17 08:40] msgilligan commented on #224
As you say, @melix , Groovy is not using JBake. It seems that most (all?) sites using JBake are standalone builds (e.g. not mixed in with a complex build like the Groovy project) Your concerns would be valid for other build tools, as they are for Groovy and Gradle themselves, but as all the JBake sites I've seen are standalone builds of blogs this doesn't seem like much of an issue.

@jonbullock Y

[2015-08-17 09:02] haumacher commented on #224
@msgilligan Personally, I just started using JBake for a small standalone site project and therefore have no concerns upgrading to any Java version around. But I could imagine that JBake could be used building e.g. the documentation of any other software project. The build of such project would then naturally become an embedding app.

[2015-08-17 10:20] haumacher opened #227 "Wiki-like editing"
When creating/editing pages and posts, the current workflow looks like the following:

* Start the JBake server for previewing the site in a browser
* Open the page in an editor
* Apply the changes and save the file
* Start baking the site by invoking the JBake main application
* Reload the browser and review the result
* Switch back to the editor and continue editing the page.

Especially for fin

[2015-08-18 09:11] lefou commented on #224
From a JBake developer perspective I like the move to Java 8 as all these cool new language features are available. As JBake user and integrator I don't like it, as you force user to run on Java 8 which is often not that simple in existing projects. Also you force various build integrations like Maven, Gradle, SBuild to run on Java 8. I can see a clear tendency in JBake to be used a library, and a

[2015-08-18 09:20] mperry commented on #224
@lefou The Functional Java project uses this approach (note that I am the main contributor).  We use the gradle retro lambda plugin to use lambdas with the library (compiling with Java 8), but target the JVM 7 runtime, see http://www.functionaljava.org/.

At some point though you need to move to Java 8.  The Java 7 runtime is past end of life and Java 8 has been released for over a year.  If not n

[2015-08-18 09:32] lefou commented on #224
@mperry JBake is pretty stable and runs with older and newer JVMs. I fail to see the benefits in excluding those users still forced to run on older JVMs just because we can. Of course this position may change in future, but currently I too often have to work in such old environments myself. And of course I want to use my beloved open source project in those environments. I tried to show a way to m

[2015-08-21 02:41] msgilligan commented on #224
Here's a specific question: *Does anyone know of a site on the list [Sites Using JBake](http://jbake.org/community/sites.html) that could not easily be updated to use Java 8?*  (Assuming, of course that the Maven and Gradle plugins were also updated to Java 8) What about Java 7?

This has largely been a theoretical discussion. What are our current users using? Can they upgrade? New users and new p

[2015-08-21 10:02] haumacher commented on #224
From the Sites Using JBake: "CRaSH the shell for the Java Platform" is building in a Java 6 compatible way. Requiring Java 8 for building the site would at least be inconvenient.

[2015-08-21 14:37] msgilligan commented on #224
I just built [crashub.github.com](https://github.com/crashub/crashub.github.com/tree/site) with Java 8 and it worked fine. Assuming the Maven plugin is also updated to Java 8, I don't see anything in the `pom.xml` that would be an issue. Am I missing something?

2 cool things about your site:

1. It has the most original styling (biggest changes from default template) of any JBake site I've seen.

[2015-08-21 15:07] haumacher commented on #224
Hey, CRaSH it's not *my* site - I just picked an arbitrary project from "Sites Using JBake" that looks like providing a library module and checked, if *they* keep Java 6 compatibility by looking at their pom.xml.

Even if it may be possible keep Java 6 compatibility even when using a Java 8 runtime for the build process - the most safest way to do this is using a native Java 6 runtime environment.

[2015-08-21 16:00] msgilligan commented on #224
Well every JBake project that I have seen (admittedly, I've only looked at about 10 -- including CRaSH) use a separate repo and build for the the JBake site than for the project code. So, just because the code builds with Java 6, doesn't mean that the JBake site needs to.

(CRaSH is interesting because it imports documentation artifacts from the project build via Maven .zip artifacts -- an approac

[2015-09-01 19:54] helmbold opened #228 "Support Rythm Template Engine"
The [Rythm Template Engine](http://rythmengine.org/) is inspired by Microsofts Razor template engine with a nice, concise syntax. It would be nice if jbake would support Rythm.

Example:
[code]

[2015-09-21 08:40] jangalinski commented on #107
since Java 7 is out of support already: +1 for closing this one and skip to java 8.

[2015-09-29 11:41] jonbullock commented on #227
Sounds interesting... how far have you got with it?

There are plans for a watch mode (probably as part of the server mode) that will take advantage of the incremental rendering feature... but this won't solve the creation of new content.

[2015-09-29 12:04] jonbullock opened #230 "Improve exec scripts to pick up all jar files in /lib"
Improve exec scripts to pick up all jar files in /lib

See here for context: https://twitter.com/bobbytank42/status/564066267645378560

[2015-09-29 12:28] jonbullock commented on #224
Apologies that I've been slow to respond to this thread, and thank you to everyone who has contributed so far, the debate is exactly what I was hoping for.

I echo the sentiments of @lefou as a dev I'd love to take advantage of Java 7/8 features but I'd prefer not to do this if it means it causes issues to certain members of the community. I do feel a certain obligation to users who have adopted J

[2015-09-29 16:24] lefou commented on #224
Before we consider to proceed future development in Groovy, which would clearly exclude way more users/devs than the switch to Java8, I would be interested in the sensed gain of Java8 syntax vs. the Java8 API. If it is Java8 syntax we strive for, we could immediately switch, but compile to older bytecode with retrolambda. If it's the API, then downgrading the bytecode will not work.

Sorry, if I r

[2015-09-29 16:44] msgilligan commented on #224
The problem with using Groovy to develop a library is that you create a dependency on the Groovy runtime. The Groovy runtime includes an implementation of the MOP (Meta-Object Protocol) And, as I understand it, there is no guarantee of MOP interoperability between different versions of Groovy.

You'll find that the most popular Groovy projects (e.g. Grails, Gradle) are not distributed as libraries

[2015-09-29 21:38] jonbullock commented on #224
I fear I've confused matters by mentioning Groovy, please don't read too much into my statement, I'm not planning on switching over to Groovy for JBake.

In terms of the Java 8 syntax/API I can't really comment right now as I don't have any use cases or experience to base my comments on, however being able to use Java 8 syntax without requiring Java 8 does appeal to me.

However in terms of Java7

[2015-10-01 11:57] melix commented on #224
@msgilligan This is *almost* fair to Groovy. While it does come with a runtime, we **do** make guarantees with regards to interoperability. Groovy is backwards compatible, and sometimes (using the compat jar) forward compatible. Breaking changes are planned for Groovy 3, which is not due anytime soon.

[2015-10-04 19:07] superjames commented on #182
I've got the same problem.
Writing an English blog on a French OS

[2015-10-04 19:09] superjames commented on #182
setting the language in **jbake.properties** would be great

[2015-10-05 08:31] keilw commented on #182
+1

[2015-10-13 00:40] sengopal opened #231 "Make metadata header separator configurable "~~~~~~" or support standards such as Jekyll front matter"
Make metadata header separator configurable "~~~~~~" or support standards such as Jekyll front matter

Reason: I am using Atom.io and markdown-preview-plus for drafting posts. The separator "~~~~~~" seems to render the markdown as incorrect and the preview fails.

<img width="1439" alt="screen shot 2015-10-12 at 4 59 57 pm" src="https://cloud.githubusercontent.com/assets/787381/10442557/54e4b164-7

[2015-10-13 12:20] jangalinski commented on #231
the ~ is also hard to type on a macbook (ger) so +1 for making this more standard

[2015-10-14 00:13] sengopal commented on #231
Jekyll head metadata is with ---------. Even replacing or accepting ---------- will also help.

[2015-10-28 21:14] jonbullock opened #232 "Add a code of conduct to the project"
Potential solution: http://contributor-covenant.org/

[2015-10-28 21:30] msgilligan commented on #232
Shouldn't a code of conduct be about behavior and not ideology and restricting speech? Is JBake '"culturally inappropriate"? Maybe not this week, but who knows about next week?

[2015-10-30 23:57] ieugen commented on #224
@jonbullock Watch wupport would definitly be nice. I've put some projects in production and I agree that you should be carefull what versions you require. My opinion is that bumping minimum version to 1.7 is ok since it's now the default in many operating systems (Debian Jessie and derivatives, Ubuntu, etc.).
Jbake is also mostly used as a end user tool so you won't have other projects depending o

[2015-11-01 22:11] jonbullock commented on #224
Thanks for the feeback @ieugen

Could I ask everyone to complete this form: http://goo.gl/forms/YhPww3UyQE

[2015-11-03 23:55] jonbullock opened #233 "Setting output.extension to an empty string causes errors when rendering"
See discussion on #104

[2015-11-03 23:57] #233 closed

[2015-11-04 14:59] puredanger opened #234 "Empty output.extension causes NPE"
The commit:
https://github.com/jbake-org/jbake/commit/17a4372bd3275e2b74f11f811da71b94ce5bae76
for issue #233 causes NPEs on baking:

java.lang.NullPointerException: null
	at org.jbake.app.Renderer.createWriter(Renderer.java:104) ~[jbake-core.jar:na]
	at org.jbake.app.Renderer.render(Renderer.java:90) ~[jbake-core.jar:na]
	at org.jbake.app.Oven.bake(Oven.java:157) ~[jbake-core.jar:na]
	at org.jbak

[2015-11-04 15:00] puredanger commented on #233
This has problems - I filed a new issue to track it.

[2015-11-04 20:50] jonbullock commented on #234
Thanks for reporting this... I'll commit a fix shortly, a workaround is to fully quality the source and destination folders while baking. I was testing last night using fully qualified paths!

[2015-11-04 20:52] #234 closed

[2015-11-04 21:09] puredanger commented on #234
That does seem to fix that issue, however xref links from asciidoc source files seem to still be rendered with the .html extension, so all cross-doc links are broken.

I really appreciate you looking at this by the way, and I'm sorry to be whack-a-mole'ing you with problems like this. Thank you for all the work on JBake - it's so very very close to exactly what I need.

[2015-11-04 21:46] jonbullock commented on #234
Ah I have a suspicion that Asciidoctor is assuming that the output files will always have a .html file extension which is causing the problem with xref's. Let me do some digging...

Thanks for the feedback... I've been reading your blog for a number of years so it's great to see you using my humble little tool!

[2015-11-04 21:47] puredanger commented on #234
Working on an overhaul for a very visible site with jbake... stay tuned. :)

[2015-11-04 22:02] jonbullock commented on #234
Excellent!

Looks like you can control the file default suffix using the `outfilesuffix` attribute: http://asciidoctor.org/docs/user-manual/#navigating-between-source-files

Whether it allows an empty value though is a different matter...

[2015-11-04 22:29] jonbullock commented on #232
Doesn't that proposed code define what behaviour is expected and what behaviour isn't acceptable? I assume you're not in favour of having a code at all...?

[2015-11-04 23:59] bodiam opened #235 "Improve error messages when required folders are missing"
Not the same as #21. I never used jbake before, so I installed it, ran 'jbake', and was greeted with the following output:

[code]
I assumed my installation was broken, so I reinstalled it (I used gvmtool). But reinstalling gave the same issue. So, this apparently the way jbake communicates to me that this is not a project directory?

As a beginner user of jbake, this is a confusing message, and I

[2015-11-05 04:34] puredanger commented on #234
That works!

I was able to get everything working by setting the following properties in jbake.properties:

[code]

[2015-11-05 06:14] msgilligan commented on #232
Yes, but it's vague and over-reaching (in my opinion) and smells (to me) of political correctness, cultural marxism, and restriction of speech*. Ultimately, I'd hold my nose and agree to it, but I don't like it. Most of codes-of-conduct that I've seen have the same issues, but I haven't searched for alternatives.

JBake seems to me like a well-run and inclusive project. I'm new to it and started a

[2015-11-05 12:15] mgfeller commented on #235
I support this and I think it is a good idea to improve it.
It will make a better first impression of JBake.

[2015-11-05 21:56] jonbullock commented on #234
Excellent, I'll be sure to include details on how to achieve this goal in the docs.

[2015-11-05 22:13] jonbullock commented on #235
Thanks for raising this issue, you are correct being presented with this when you first run JBake is not great.

On a related topic I have been thinking that the default behaviour of the `jbake` command with no args should show the help rather than try and perform a bake using the current working directory as the source. It would force a change on users but one that I believe is logical.

Back to

[2015-11-05 23:20] bodiam commented on #235
Super, good to hear! I'll try to add it tomorrow or in the weekend, it would be a nice start to contribute.

I also agree with the jbake noargs command, I think it should just display the usage instruction. I can add that too, and update the documentation on it.

[2015-11-05 23:42] bodiam commented on #232
Oh, seriously? I'm really with @msgilligan here. I am really not a fan of this. Actually, I had never heard of a CoC for Open Source projects, and I don't support such a thing at all. I cancelled my registration for a conference which had a similar CoC, and I will not support a framework which actively promotes such a thing.

[2015-11-06 00:19] jonbullock commented on #232
Wow I had no idea people felt this strongly about this, I genuinely thought this would be a positive thing, but if it not seen that way there is no point.

Thanks for taking the time to share your views on this matter.

[2015-11-06 00:19] #232 closed

[2015-11-06 00:22] msgilligan commented on #232
@jonbullock Your heart is in the right place. JBake seems to have a great community. As long as it stays that way, there's nothing to worry about.

[2015-11-06 07:29] bodiam commented on #232
@jonbullock It goes a bit to far to tell your here why I feel like this. I understand your intentions are good, no doubt about that, I'm just not sure if this is the right approach. Thanks for your consideration!

[2015-11-06 12:50] bodiam opened #237 "General enhancements"
Hi all,

While looking at the code, I found quite a lot of small things to improve. Things like:

* Remove duplicated code
* Reformat code (currently, 4 different styles are used?)
* Remove unused code

But I'm not sure if you're okay with me doing that. It might result in some conflicts, but at least it would be nice to have some consistent styling. I can make pull requests for each change.

[2015-11-07 01:06] bodiam commented on #224
I hope that for 3.0.0 we could move to Java 8. I think that also goes nice with semantic versioning, and shows that things can (and possibly will) break. Is there are any insight in the poll already?

[2015-11-08 15:55] haumacher commented on #232
+1

[2015-11-08 15:59] haumacher commented on #237
Please do not reformat the code - this would render all other branches/forks of JBake unmergable!

[2015-11-08 17:03] haumacher commented on #227
Sorry for the long delay. I've got a working prototype of the described functionality on my `wikibake` branch. In the current version however, the templates must cooperate to achieve the wiki mode rendering by adding the wiki menu to the page when the page is served by the JBake server. The wiki menu provides buttons for switching to edit mode, creating a new page and saving the edited content.

I

[2015-11-08 17:12] bodiam commented on #237
The current way of coding is horrible. It's random indenting, it's spaces, it's tabs, it's I-don't-know-which-convention, but there's no uniform style, and it doesn't invite me to work on it. I don't know which branches and forks there are which are actively maintained, but for the 3.0 I would certainly choose one style, so it will become easier to contribute.

[2015-11-10 21:26] jonbullock opened #242 "Merge in outstanding pull requests for v2.5.0 release"
I'm manually merging in the outstanding pull requests marked with v2.5.0 in a separate branch (merge-2-5-0-prs) at the moment and I've created this issue to track my progress and list the outstanding clean up tasks.

[2015-11-10 21:26] jonbullock commented on #242
Pull requests to merge in:

- [x] #186 Pagination
- [x] #175 Simplify and aggregate rendering testing
- [x] #185 Introduced Groovy MarkupTemplateEngine
- [x] #161 Added support for Pebble template engine
- [x] #166 Jade template engine implementation
- [x] #154 Support for Jade template engine
- [x] #135 Preliminary refactoring
- [x] #138 Extracted various rendering modes to allow their customisat

[2015-11-10 21:58] jonbullock commented on #224
Out of 36 responses so far, all 36 were OK with a move to Java 7 and 31 were OK with a move to Java 8.

[2015-11-11 07:32] haumacher commented on #242
Don't you think that #219 "Detailed errors with stack trace of the original problem" isn't also a normative candidate for such a cleanup release?

A part of my wikibake experiments (#227) I've also introduced some additional abstractions around the document model handling. These refactorings have no influence to the application functionality, but the wikibaking heavily depends on it. If I had the

[2015-11-11 21:59] jonbullock commented on #242
Thanks for reminding me, I've scheduled #219 in for v2.5.0.

Please be aware there are some significant changes to the code in the pull requests above.

[2015-11-18 22:43] jonbullock commented on #43
Another guide to consider: https://github.com/joel-costigliola/assertj-assertions-generator-maven-plugin/blob/master/CONTRIBUTING.md#contributing

[2015-11-19 10:53] ancho opened #244 "Transfer ancho/jbake-example-project-groovy-mte to jbake-org and integrate with distribution"
In order to provide an example project for Groovy MarkupTemplateEngine templates, introduced with #185, move https://github.com/ancho/jbake-example-project-groovy-mte to jbake-org organization.

Provide an assembly description and checkout the example project analog to the other example projects.

[2015-11-19 17:19] #226 closed

[2015-11-19 17:20] jonbullock commented on #183
Watch mode is part of the build in web server, so any change to a file will trigger the build process. It's best when used with incremental rendering.

[2015-11-19 17:20] #183 closed

[2015-11-19 17:22] jonbullock opened #245 "Tests failing when run on JDK6"
See https://travis-ci.org/jbake-org/jbake/jobs/91930202

[2015-11-19 17:24] #245 closed

[2015-11-19 21:14] jonbullock opened #246 "Restore Pebble template engine support when JDK7 support is added"
See #161

[2015-11-19 23:23] jonbullock commented on #244
I notice you've used Foundation in the example project, any particular reason why?

[2015-11-20 00:45] jonbullock commented on #231
Adding support for --------- should be straight forward to do. Have you tried a file with the JBake separator replaced with ---------  to check it works?

As I thought Jekyll's YAML front matter starts with --- and ends with --- ?

[2015-11-20 10:27] ancho commented on #244
No. Not really. I just decided to give foundation a try while designing my blog.
I consider to change the style back to jbake style to give it something like an identity.
What do you think?

[2015-11-22 04:13] sengopal commented on #231
If i try with --------- , the file does not get picked up for conversion. Do you think Jekyll's format will work, i can test it out.

[2015-12-05 23:30] SwamWithTurtles opened #251 "Build fails on OpenJDK"
After build failures on a recently submitted pull request, I rolled back my changes on the pull request branch to see what caused it.

This build is currently in line with what's on the top of the 'master' branch: https://travis-ci.org/jbake-org/jbake/builds/95115743 but it's failing on the two OpenJDK engines (6 and 7) with the following pertinent lines of stake trace:

[code]

[2015-12-09 08:14] mtolk opened #252 "setting asciidoctor.option.template_dirs in jbake.properties causes an error"
I'm using asciidoc document in JBake to generate my website.
I want to make some changes to the HTML asciidoctor generates so I wanted to use the template_dirs option.

Doing this gives an error:

    An unexpected error occurred: (NoMethodError) asciidoctor: FAILED: : Failed to parse source,     undefined method `each' for "src/custom-asciidoctor-backends/erb/html5":String

I think I figured out

[2015-12-29 21:30] jonbullock opened #253 "File watch mode is broken"
File watch mode is broken in master branch.

The following is shown when used:

[code]

Raised by @bodiam via Twitter.

[2015-12-29 21:32] jonbullock opened #254 "Rendering appears to be broken in master."
Rendering appears to be broken in master.

Built distribution using master as of today and ran the the following commands:
[code]
Nothing is rendered into /output folder. Raised by @bodiam via Twitter.

[2015-12-29 23:02] bodiam commented on #253
In the Main.java, change the listenPath line (line 160) to the following:

[code]

This seems to fix the issue.

[2015-12-29 23:53] jonbullock commented on #253
Excellent thanks @bodiam

[2015-12-29 23:54] #253 closed

[2015-12-30 00:14] #254 closed

[2015-12-30 00:23] jonbullock commented on #251
Looks like this is a Travis issue: travis-ci/travis-ci#5227

[2016-01-08 08:39] mgwerder opened #257 "Parsing of first header line fails if using UTF-8 with BOM"
When using an UTF-8 encoded document with BOM parsing of the first header line seems to fail.

This has been observed with JBake v2.4.0 (2015-05-30 19:08:27PM) and the groovy template. The first tag was "title" and it was set to null. No other templates have been analyzed.

Btw. Keep up the good work.

[2016-01-13 13:37] jonbullock commented on #257
Thanks for reporting this @mgwerder could you provide an example file and the stacktrace you see?

[2016-01-14 13:10] jonbullock opened #258 "Remove org.jbake.app.SortUtil class as it's no longer used"
See https://github.com/jbake-org/jbake/commit/e7521e481314a5128ad23b3951572b62736506f6 from #239

[2016-01-14 13:33] jonbullock commented on #252
Thanks for raising this @mtolk we'll aim to fix this in the v2.5.0 release.

[2016-01-14 17:08] jonbullock commented on #231
Yeah try the Jekyll format to confirm, adding support for the full front matter tags is a bit more work compared to changing the separator.

[2016-01-17 19:42] iryndin opened #259 "org.jbake.app.template.FreemarkerTemplateEngineRenderingTest.renderPost fails when non-English locale is used"
Unit test `org.jbake.app.template.FreemarkerTemplateEngineRenderingTest.renderPost` fails when non-English locale is used. This is because FreeMarker uses local locale to render date strings, while unit test have hardcoded date string in English, which leads to failure.

How to fix: do not hardcode date strings in unit tests, instead use generated date strings (e.g. with `SimpleDateFormat`).

[2016-01-17 20:22] iryndin commented on #259
here is pull request: https://github.com/jbake-org/jbake/pull/260

[2016-01-17 21:07] buumi opened #261 "Two tests fail on Windows"
copyIgnore and testWriteProtected fail on Windows systems. I guess that's because on Windows .test.txt is not considered hidden. Also readOnlyFolder.getRoot().setReadOnly() doesn't work on Windows. Please close this if it's not even intented to work on Windows.

[2016-01-29 11:16] oliverlietz opened #262 "Upgrade Thymeleaf to 3.0"
Thymeleaf `3.0.0.BETA01` is available, see [Thymeleaf 3 five-minute migration guide](http://www.thymeleaf.org/doc/articles/thymeleaf3migration.html) also.

[2016-02-04 18:46] jdjohnston opened #264 "Section 9 of docs is titled "Use as Libary""
Shouldn't that be "Use as Lib**r**ary"?

[2016-02-09 02:22] rlovtangen opened #265 "Update documentation section about GVM"
GVM has been renamed to SDKMAN. See http://sdkman.io/
Update section `1.3 GVM` in the docs accordingly.

The command to install jbake with SDKMAN is
[code]

[2016-02-10 14:46] mkobit opened #266 ""alltags" does not contain tags from custom template types"
I was looking to use JBake and Freemarker to generate a static site and use my own custom templates for rendering certain pages, rather than using `post` and `page` as those do not have semantic maening in the site I am generating.

The query `query("select tags from post where status='published'")` is run when trying to retrieve `"alltags"`, and from what I have discovered a table is created for

[2016-02-21 00:00] #251 closed

[2016-02-22 12:22] Hanserfaust commented on #80
As of 2016-02-23, i looked at the examples here to make my TOC work:
https://raw.githubusercontent.com/opendevise/asciidoc-samples/master/demo.adoc

My exact lines to make TOC work was this:

<CUT AND PASTE BELOW THIS LINE>
Foobar API documentation.
v1.2, 2016-02-15
:library: Asciidoctor
:idprefix:
:numbered:
:imagesdir: images
:toc: manual
:css-signature: demo
:toc-placement: preamble
//:max-widt

[2016-02-24 12:15] oliverlietz commented on #266
@mkobit I'm interested in this _feature_ also. Do you have a patch to take tags from all types into account?

[2016-02-25 09:27] aalmiray opened #267 "Allow gemPath to be specified for the AsciidoctorEngine"
The current `AsciidoctorEngine` does not allow passing a `gemPath` option to the `Asciidoctor.Factory.create()`. This option is needed to enable additional functionality such as `asciidoctorj-diagram`.

[2016-02-25 13:45] ieugen opened #268 "Any progress on the project? A new release anytime soon?"
Hello,

I've decided to use JBake for my sites and I am wondering if this was a good decision. I like some of the features and I would like to see more. I have a few ideas about stuff that I would like to contribute - like continuous site building etc, but I haven't seen a lot of activity.

I see pull requests with features piling up and people discussing but no new releases. The last release was

[2016-02-26 16:09] aalmiray commented on #267
I can confirm with a quick "hack" that enabling `gemPath` and `requires` to be set on the `Asciidoctor` instance does allow diagrams to be rendered in a baked content. We'll have to wait for asciidoctor-1.6.0 to be released (and its companion asciidoctorj release) in order to avoid reflective calls to protected fields in `Asciidoctor`.

[2016-02-28 19:54] jonbullock commented on #183
Related issue that this fixes: jbake-org/jbake-gradle-plugin#14

[2016-02-28 22:01] jonbullock commented on #267
:+1:

[2016-02-28 22:24] jonbullock commented on #268
I hope you find it was a good decision to use JBake :smile:

If by continuous site building you mean a watch mode so any change to a content file triggers a re-render then this is already in available see #183.

Ultimately I'm the bottle neck on the next release at the moment as I don't have as much free time to spend on the project as I once did. However that will change pretty soon, but in the m

[2016-02-28 22:32] jonbullock commented on #266
Thanks for raising this issue.

[2016-03-01 13:33] jonbullock commented on #265
Thanks for highlighting this.

[2016-03-01 13:34] jonbullock commented on #264
Thanks for catching this.

[2016-03-01 13:37] rlovtangen commented on #265
Glad to help. Sorry for using wrong repo.

[2016-03-01 13:40] jonbullock commented on #265
Don't worry about it, the documentation shouldn't really be in the site repo but it's a low priority for me at the moment to change this.

[2016-03-06 07:50] ieugen commented on #210
I had a lot of time thinking about how to build some nice tooling for static websites and I think Gradle is a good candidate for this kind of stuff. It is a build system is deigned to build stuff so it is a good candidate for packaging and compiling files (sources and assets).

Because it has a standard (more or less) build file you can design recipes to compile SASS or transform images and so on.

[2016-03-06 08:02] ieugen commented on #268
Hi,

Thanks for the response and it's good to know you're still working on the project.
I would like to see faster website build times first and maybe a move to Java 7 to add watch. It takes a huge amount of time to develop websites right now since the change->build->view results cycle is very long (~10s).

I also propose jbake adopts git flow for development with multiple branches:

- master is m

[2016-03-06 09:09] ieugen commented on #18
Hi,

Quite a debate around the plugin feature. I think Jbake core should remain simple and do just what it is supposed to do. There are many things required to do when building a static website but jbake-core should stick to baking pages.

From my experience, building sites involves some of the tasks bellow (depending on the size of the website and how you work ) :

- managing dependencies - HTML,

[2016-03-18 10:22] rmannibucau opened #271 "remove slf4j jul bridge dependency as being mandatory"
Would be great to have it as optional cause it can break apps embedding jbake and relying on another configuration for the logging

[2016-03-19 22:17] ieugen opened #272 "Why so many locks int the code? Is there any multi-threading done that requires it?"
Hello,

I've looked over the code to try and make it faster and I have some questions.
I've seend that parts of the code use locks a lot and I don't understand why is that necessary. Are you using multi-threading code and need to sync between parts of the application?

[code]
 @Override
    public void renderDocument(final Map<String, Object> model, final String templateName, final Writer writer)

[2016-03-22 22:37] marcobehler commented on #268
@jonbullock

Maybe I can help. What are the 3 top things I or anyone really could work on? Feel free to bring me up to speed.

[2016-03-27 01:01] ieugen opened #274 "jbakery - faster rebuilds and web console"
Hello,

I've posted an email on the user mailing list about some improvements.
Right now thare are a lot initializations that can be skipped and are not.
The code could make use of dependency injection to make the code easy to reuse.

It is also my opinion that jbake currently does way more than it should in a single project"
- render pages
- start a webserver
- parse command line parameters

I th

[2016-03-27 13:20] danielgrycman commented on #274
Hello @ieugen,

I share your opinion about multiple modules for jbake and I really like your poc :-).

[2016-03-27 14:34] ieugen commented on #274
Thanks @danielgrycman .

I just added watch functionality to 0.0.4 ( you net to specify `--destination` outside  `--source`  or you get an infinie cycle atm) .
I'm working on adding ant style path matchers to ignore paths and files inside the work tree.

I have alot of ideas but a lot of them need jbake refactoring. Right now I'm still waiting for answers but I am considering forking the project.

[2016-03-27 21:58] jonbullock commented on #274
Just posted a reply to your message on the users mailing list.

Watch mode has already been added to master: https://github.com/jbake-org/jbake/issues/253

The plan to split up the project into multiple modules is available here: https://github.com/jbake-org/jbake/issues/117 - are you interested in working on this?

If you want to start a discussion on the developers mailing list for your other id

[2016-03-27 22:09] jonbullock commented on #268
@ieugen I like the idea of adopting that workflow, could you raise a separate issue for that?

@marcobehler I'll review the outstanding work and get back to you ASAP.

[2016-03-28 08:18] haumacher commented on #268
@ieugen In my opinion, watch mode is not sufficient, since it heavily depends on the templates, which pages have to be rebuilt if a single file changes. If you built a menu structure, where a link to every other page is embedded in the source of all pages, almost all pages have to be rebuilt if a single page changes. To circumvent this problem, I built on-demand page rendering in servlets some tim

[2016-03-28 08:59] ieugen commented on #274
Hi,

Thanks for the reply. I agree that things should be discussed and this is how comunity will grow.
Having that said, I did notice that those threads are 2 years old and jbake is still monolithic.

I think its time for action. My take from the discussions is:
- a split is desired and needed. there are different ideas on how to do it but let's start and see how it goes.
- migrating to Gradle wou

[2016-03-28 09:09] ieugen opened #275 "Implement git flow as a development process"
Git flow is nice as you can manage multiple version and have a way to merge new features as they are ready.

As discussed in #268 we will be migrating to gitflow.
You can install the helper commands in Debian and other OS's quite easy [1]. They are not mandatory, they are just helprs.

Sub-tasks:
* migrate the repository
* merge all new PR-s in develop
* document the change and anounce it on the m

[2016-03-28 09:11] ieugen opened #276 "Migrate build to gradle"
There is a desire to migrate the project to gradle for a better develoment experience and build capabilities
- easy multi module management
- easy release artifact building
- easy releasing and versioning (gradle-git plugins)

Sub-tasks:
- merge existing PR-s
- migrate the code base
- make release with new process
- docuemnt the release process

[2016-03-28 09:20] ieugen commented on #268
@haumacher I agree that for different use case not all things will work as good as they can/should.

For my use cases rebuilding the whole website is fine and fast enough. It's a feature I can use - I have ~2s build time which is great compared to 10s.

Now, there might be better solutions out there, like yours, and I think that they should be adopted as well. One does not exclude the other in my

[2016-03-28 09:21] ieugen commented on #276
After #275

[2016-03-28 09:32] ancho commented on #276
:+1:

[2016-03-28 09:47] ancho commented on #274
:+1: Thank you @ieugen for pushing the growing of the community forward. I'm looking forward to learn from your experience.

[2016-03-28 10:54] danielgrycman commented on #274
@ieugen You are right the contribution process should be more open. If not so we loose the chance of a growing community :-). I would like to take part in this process :-).

[2016-03-29 19:44] mgfeller commented on #268
I would just like to express my support and thanks for JBake and its community. I've decided to use JBake for my personal site, and consider introducing it at work too. However, I'm also concerned about the progress of the project and PR's piling up. I'm slightly hesitant to use JBake because of this.

Of course, I don't wish to be disrespectful either, I understand that there is a lot of work beh

[2016-03-31 08:17] jangalinski commented on #276
This has all potential to become a religious discussion, but could someone please summarize the benefits you see in changing the build system? In my experience, building dev communities around the most common tools is more successful ...and that's maven imho.

[2016-03-31 08:21] jangalinski opened #277 "Question: running jbake with spring(boot) - experiences?"
I am planning to use jbake as a static site generator that aggregates data from lots of sources (file system, database, social sites, ...) so I will do a lot of coding around the pure baking process. I would like to use spring boot for that application so I can stick with the DI pattern and use all the tools the platform provides.

I wonder if someone did this before and if there are any pitfalls

[2016-03-31 10:39] ancho commented on #276
@jangalinski There are plenty of benefits switching to gradle as a build management tool.
In my opinion it is the build tool of the present and the future. Many big companies and communities are switching to gradle or already did.

* It's fast
* It's flexible
* It's easy to learn
* has a powerful DSL with convention over configuration paradigm
* a lot of plugins for nearly everything
* a big and n

[2016-03-31 10:58] jangalinski commented on #276
Thanks @ancho for the links. I already work with some projects using gradle and it works well. Its just a different command  line call. When setting up my own stuff, I stick to maven so far, its what me and my team know best and I don't have to think about it. I would be open to learn more about gradle ...

I just question that it is worth migrating. More "like: If you do not have a build system a

[2016-03-31 11:00] ieugen commented on #276
@ancho very good arguments, thank you.

@jangalinski : I've used Maven a lot and it had made my life easier. Having discovered gradle for the ~2 years, over time, I've switched all of my builds to it and never look back.

One of the biggest reasone is the flexibility and plugins. You can build binary distributions very easy and handle the project life cycle much better than with maven, especially

[2016-03-31 11:05] ieugen commented on #276
The immediate benefits would come from

- better handling of multi-module builds (caches build results)
- more flexible binary distribution. For a sample, chek out jbakery binary distribtuion: source is [1] and binary release is [2]

[1] https://github.com/netdava/jbakery
[2] https://bintray.com/netdava/maven/jbakery

[2016-03-31 11:34] ancho commented on #276
btw. I started to migrate jbake to gradle. It is still work in progress but works for me so far.
@ieugen do you mind to have a look at it? I could open a WIP pull request to start a discussion. What do you thin?

https://github.com/ancho/jbake/tree/feature/gradle-build

Based on that branch I started to modularize the build to get a clean separation of jbake-core and distribution packaging.

https

[2016-03-31 13:12] ieugen commented on #276
Cool. Please do open a PR.

I was waiting for a a response from @jonbullock on the migration status. There are curently a lot of open PR's that will need to be merged or we will lose them. That will not be so good.

@ancho If you can wait a few more days so we can settle this, it would be great. I think I can answer most of the gradle questions if you supply them. Especially if there is code.

[2016-03-31 13:21] ancho commented on #276
Yes. I'm aware about that. But I couldn't resist to begin the migration steps :)
The open PR's is one of the reasons I opened a new branch for the modularization part. It is more a proof of concept.
The feature/gradle-build branch should make it possible to merge all the open PR's as the basic project stucture has not changed, except fixture test resources. But that is another story.
I'll open a p

[2016-04-15 16:04] mgfeller opened #278 "Support for default document type specified in configuration file."
Support for default document type specified in the configuration file would allow to bake an existing site quickly without having to change all documents.

I plan to submit a PR for this.

[2016-04-17 08:57] luistrigueiros commented on #277
Hi,

I recently implemented JBake with spring boot you can see the source code at:
https://github.com/southcitychurch/scc-web

[2016-04-17 09:34] volyx commented on #277
@luistrigueiros nice work!

[2016-04-17 09:48] jangalinski commented on #277
Nice work in deed, but you misunderstood my approach: you use gradle to bake your static site and then put a spring boot application aside this static content to let it run on openshift and offer some dynamic features like mail-form.

What I want to do is use a spring-boot application to bake the site, and collect the dynamic data while doing so.
For example: read latest post from facebook and twi

[2016-04-17 10:03] luistrigueiros commented on #277
Hi Jan,
Thank you.
From what I experienced there is there is a problem with JBake cache when
you try the second run and it has to do with the access to the underline
database that implements the caching orientdb, I think you will get this
error probably.
I read in the issue that this is fixed in the 2.5.0 snapshoot.

On Sun, Apr 17, 2016 at 10:48 AM, Jan Galinski <notifications@github.com>
wrote:

[2016-04-25 23:26] halyph opened #281 "Images from content folder are not copied to output folder"
I've just started using jbake and have the next issue.
It is very convenient to have adoc files and related images collocated in the same folder. E.g nice github rendering feature is supported out of the box. Also, atom editor, asciidocfx support image rendering when they are in the same folder.

But, jbake does not copy images from `content` folder to `output` folder. I've been using default sett

[2016-04-26 21:12] jonbullock commented on #228
Thanks for suggesting the template engine, have you had much experience using it?

[2016-04-27 21:48] jonbullock commented on #227
Thanks for the overview, I'll leave this open for the time being to remind me to come back to this as it relates to other ideas I've been thinking about recently.

[2016-04-28 10:58] helmbold commented on #228
I wouldn't call myself a Rythm expert, but I've used it in several projects and was pretty satisfied with it.

[2016-05-02 23:30] jonbullock commented on #244
That's not necessary at the moment. The goal of the example projects is to give the end user a starting set of templates for the relevant template engine, they are not meant to be the finished article in terms of design.

You should be able to transfer the repo into the organisation now, let me know if you have any issues as I never remember how to enable this in GitHub.

[2016-05-03 12:08] jonbullock commented on #259
Thanks for raising this, I'm thinking that the locale used by template engines should be explicitly set, there is already code in place to allow the locale to be set for Thymeleaf. We can always fall back to the default if one isn't set explicitly.

[2016-05-03 12:13] jonbullock commented on #261
Thanks for raising this issue.

[2016-05-03 20:15] jonbullock commented on #210
Yeah I like the idea of using a build system to produce example templates and deal with the compilation of Bootstrap.

[2016-05-03 20:25] ancho commented on #244
Thank you @jonbullock! I created a new Repository and pushed mine to the new one.

[2016-05-03 20:55] ancho opened #283 "custom types are broken"
While integrating the groovy-mte example project (see #282) I stumbled upon a problem with custom templates/types.

They are not recognized anymore and are not accessible within the templates.

The new document type is added to the ```DocumentTypes```. It seems to be connected with the ModelExtractors mechanism. There is no registered model extractor for the new custom type.

Maybe the _[should ne

[2016-05-03 21:46] jonbullock commented on #18
What you suggest is certainly interesting and food for thought. The original and still current goal of JBake is to provide an out of the box solution, not just part of a solution requiring additional tools.

Granted the JBake API is not mature enough right now to enable you to pick and choose the functionality you want JBake to provide or not provide you with. But that's something that can be addr

[2016-05-04 07:19] lefou commented on #18
As it looks like, we are not making any significant progress with this plug-in thing. Before any further debate about what plugin- or DI-technology should be used, we should determine which extension points we actually need. Different renderers and readers come to mind. But maybe also some kind of post-processors and the like. Each wanted extension point should be clear about its prerequisites and

[2016-05-04 12:16] jonbullock commented on #262
Thanks for opening this issue, I normally review and upgrade dependencies prior to each release but this will serve as a reminder. 👍

[2016-05-04 12:42] jonbullock commented on #223
Potential Java solution for SASS support: https://github.com/scireum/server-sass

[2016-05-04 12:49] jonbullock commented on #271
If my memory serves me well I think that was added to ensure the OrientDB logging was controlled via LogBack as well. But I'll investigate further to see what we can do to make it optional.

[2016-05-05 06:22] ieugen commented on #18
@lefou : I agree we should define how things interact inside and the interfaces for them. This is the most important part.

Regarding technologies, ServiceLoader is part of the JDK and quite simple to use so I would consider it a first option.

[2016-05-05 12:42] jonbullock commented on #272
There is no multi-threaded code at present however I can't explain why the locks are necessary. At a guess it may be down to how Asciidoctor uses JRuby under the hood...although I could be wrong.

Looking back at the commit history this code was added as part of the improvements @melix made a while ago. Any chance you could explain why they were necessary @melix ?

[2016-05-06 11:43] jonbullock commented on #275
Couple of questions:

- Where does the repository need to be migrated to? Isn't this a case of creating a new 'develop' branch? Or am I missing something here?
- I'm assuming that all current PR's need to be merged in since they target master at present?

On the last sub-task, I've got a draft contribution guide that we can include this in as well to notify any new contributors of this fact.

[2016-05-06 13:14] ieugen commented on #275
Hello Jonathan, no migration is needed. It is just a process that enables us to make maintenance releases and  also have a next version available for testing.

The existing PR's should be merged or closed so we can have a clean start. All new PR that represent features should targeted to `develop` . Bugfixes should target `master` and `develop`.

To make a release, merge develop into master and bu

[2016-06-03 16:14] jonbullock commented on #274
I realise there are multiple discussions going on in different places but for completeness sake I'll comment here:

@ieugen could you provide some examples on practices/policies/processes you have in mind? I'll also try to be on IRC a bit more over the coming week so we can get a chat started.

[2016-06-03 18:32] jonbullock commented on #268
Thanks @mgfeller and @ieugen for taking the time to raise your concerns - I have taken them onboard and action will be taken to address them.

[2016-06-03 18:32] #268 closed

[2016-06-03 18:35] jonbullock commented on #274
Linking this to the original issue #117

[2016-06-03 18:36] jonbullock commented on #276
One additional reason to switch to Gradle #189

[2016-06-03 18:40] jonbullock commented on #276
I'm going to focus on dealing with the existing PR's and releasing v2.5.0 short term.

[2016-06-03 20:41] jonbullock commented on #278
Thanks for suggesting this improvement and implementing it.

[2016-06-04 08:53] jonbullock commented on #277
@jangalinski I'm not aware of anyone who has done something similar but your best source for using the JBake API are the Maven & Gradle plugins for JBake.

[2016-06-04 08:54] #277 closed

[2016-06-04 09:38] jonbullock commented on #281
To achieve this you should place the images into a folder structure underneath assets that matches what you have under content.

[2016-06-04 10:07] jonbullock commented on #228
Are any of those projects public so I can have a look at a real world usage example?

[2016-06-06 06:55] helmbold commented on #228
Unfortunately not, it was all internal stuff. But it's not a bit deal to setup Rythm and try it.

[2016-06-06 09:31] ieugen commented on #274
@jonbullock There are no silver bullets since each project is unique. This should also be done gradually, as the need arises and we should split to get benefits, not just because we can.

The functionality that I see can be part of different modules right now is:

- core - the rendering engine and all the domain logic of taking content and templates and rendering them to HTML
- application -  the

[2016-06-06 18:33] jonbullock commented on #244
Excellent 👍

[2016-06-06 18:33] #244 closed

[2016-06-06 18:35] jonbullock commented on #283
Thanks for raising this, I'll double check.

[2016-06-06 21:03] jonbullock commented on #18
These are the features I've thought could be addressed via a plugin/extension system:

#78
#216
#223
#243
https://groups.google.com/d/topic/jbake-user/64MiZRTl_3I/discussion
https://groups.google.com/d/topic/jbake-user/7Ep7vPG6t-8/discussion
https://groups.google.com/d/topic/jbake-user/lIF7ExtJtlE/discussion

There is also this page that covers the proposed system: https://github.com/jbake-org/jba

[2016-06-06 21:46] jonbullock commented on #228
Ah no problem, I was going to check it supports everything JBake needs.

[2016-06-09 18:05] manikmagar opened #284 "Permlinks, Categories and Pagination?"
First of all thank you for making JBake, Its awesome 👍

I am creating my personal blog but have few questions which I couldn't find documentation on -

1. Can I change the permlinks?
2. Do we have Categories like we have Tags?
3. Is there a pagination plugin/feature?

Thanks.

[2016-06-09 21:23] jonbullock commented on #101
Implemented as part of #186

[2016-06-09 21:23] #101 closed

[2016-06-09 21:24] jonbullock commented on #115
Implemented as part of #186

[2016-06-09 21:24] #115 closed

[2016-06-09 21:55] jonbullock commented on #242
@haumacher could you direct me to the abstractions you're referring to?

[2016-06-10 13:25] jonbullock opened #285 "Add contributors guide to project"
Draft copy is available here: https://gist.github.com/jonbullock/528992747fee282061f983fd2daf844b

Comments on the draft should be logged on the gist.

Guide should cover #275 as well eventually.

[2016-06-12 16:03] haumacher commented on #242
@jonbullock I primarily mean the encapsulation of the document properties that were represented as `Map<String,Object>` into a separate class `JDocument`. And additionally using Java constants for all these document properties that are scattered all over the code as String literals (see https://github.com/haumacher/jbake/commit/87d0072f78654cc83761cc2e8a5a3b4d69625c68).

But there are more refacto

[2016-06-13 14:50] manikmagar commented on #284
1. Can I change the permlinks? - See something for extensionless uri's in master. I will be checking it out soon.
2. Do we have Categories like we have Tags? - Will be adding categories support in my forked out jbake soon.
3. Is there a pagination plugin/feature? - I see the code is being implemented in `master` for this. Hope to get it in v2.5.0 but in mean time I might give a shot to snapshot ve

[2016-06-13 14:56] manikmagar opened #287 "@JavaBake vs @JBakeOrg - Twitter Handle"
While twitting about JBake, I was searching for JBake handle with some natural choice of something starting with JBake. I think Jbake is not available but how about @JBakeOrg, easy to find and know .... it may be just me :)

[2016-06-13 14:59] #287 closed

[2016-06-13 14:59] manikmagar commented on #287
I think it should be on jbake-org repo :)

[2016-06-14 18:19] manikmagar commented on #224
May be late in the party but just wanted to add, I am baking my sites with JBake v2.4.0 and Java 8.

[2016-06-14 20:53] jonbullock commented on #242
@haumacher I can see that being a benefit for future plans so if you're willing to extract that into a separate PR I'd be happy to include it. Most of those string literals have been dealt with as part of 2474ad93ff249ecbb8722e39fd102c8400090148 but they always felt out of place in Crawler so putting them into JDocument seems like the right place.

[2016-06-14 20:53] #242 closed

[2016-06-14 20:54] jonbullock commented on #242
The PR's listed in this issue have now been merged and clean up tasks performed.

[2016-06-15 14:22] manikmagar commented on #281
@jonbullock I am keeping my jbake template and blog content in separate github repos intentionally. That gives me ability to change my template easily. I indeed planned to have content images in my content repo. I did not realize that images will not get copied while baking. Personally I think it should be allowed as I can see a clear benefit from it which is segregation of a template and content.

[2016-06-15 15:58] haumacher commented on #281
@manikmagar  This question seems not to be much about sparation of template and content, but enforced separation of text content and image content.

When baking the source structure is required to be

[code]
This structure is really hard to maintain, if the folder structure is deep and images are closely related to content pages. One has to duplicate the `content` folder structure under the `asset

[2016-06-15 16:25] manikmagar commented on #281
@haumacher I forgot to mention I consider images related to post as content, in that sense I mentioned separation. I think templates (a.k.a. themes) and contents (text as well images related to text) should be allowed to manage seperately. `assets` folder can very well be used to keep any common images related to the template. For example, If I am using a background image on my header, I am ok to

[2016-06-15 18:04] EdwinFLopez opened #288 "Support for authors"
Hi. This is more like a question (if can't be achieved, it's a feature request).

We're a team of 3 people and I'd like to see for each one of us, an author profile and a little picture in each one of the post written, pretty much like this theme for bootstrap:
- [adventurethemes - posts](http://adventurethemes.com/demo/writer/html/v2/),
- [adventurethemes - author profile](http://adventurethemes.

[2016-06-15 18:35] manikmagar commented on #288
@EdwinFLopez, may be you can register a new custom page type `author`, define a template for author in jbake.properties `template.users.file=author.ftl`. Design author.ftl to be author's profile page. On post/index, you can refer the authors defined in content model. (You can use any template language instead of ftl). Give it a try.

@melix  had mentioned similar usage here https://github.com/jbak

[2016-06-15 20:51] EdwinFLopez commented on #288
I'll try it. Thank you @manikmagar

[2016-06-16 13:27] manikmagar commented on #288
You are welcome @EdwinFLopez. If it works, then don't forget to update solution here, it might help someone else looking to do similar thing.

[2016-06-16 13:29] manikmagar commented on #288
Just saw this bug #283 where custom types are broken in v2.4.0 so keep a check on that while you try.

[2016-06-17 11:07] jaguililla opened #289 "2.4.1 Release"
It would be great if you could release the development version as it is with 2.4.1?

This would fix some issues until the next stable version. Ie: problems with Gradle daemon.

Would this be possible?

[2016-06-17 23:02] manikmagar commented on #289
👍  Vote +1

[2016-06-18 10:40] volyx commented on #289
+1

[2016-06-18 13:16] jjkavalam opened #290 "Blog posts get duplicated when `db.store=local` is used"
Partial rendering is a great addition to jbake and potentially very useful !  However, with v2.4.0, I am having trouble when using `db.store=local`

**Problem:** Blog posts get duplicated when `db.store=local` is used

**How to reproduce?:** Take the `example_project_freemarker` that comes bundled with `jbake-2.4.0-bin.zip` release and edit `jbake.properties` by adding  `db.store=local`. Then  run

[2016-06-22 21:47] #209 closed

[2016-06-22 21:53] jonbullock opened #292 "Rename variable published_date to something more relevant"
Current name is also very similar to metadata header key: published-date which confuses matters.

See #209 and #40

[2016-06-22 22:39] #213 closed

[2016-06-23 12:02] jonbullock commented on #274
@ieugen On the separation into sub modules, yeah absolutely. :)

[2016-07-02 21:10] jonbullock opened #295 "Use Thymeleaf lazy loading system that was added in 3.0.0.RELEASE"
See thymeleaf/thymeleaf#101 for more info.

Relates to #262 and #263 as well.

[2016-07-02 21:13] jonbullock commented on #262
Dependency updated... see #263

[2016-07-02 21:13] #262 closed

[2016-07-02 21:17] #267 closed

[2016-07-04 21:28] #258 closed

[2016-07-04 21:49] #235 closed

[2016-07-04 23:04] #222 closed

[2016-07-04 23:11] #225 closed

[2016-07-05 21:23] #252 closed

[2016-07-05 22:10] #266 closed

[2016-07-06 07:31] raupachz opened #297 "startup script does not resolve symlinks"
The startup bash script does not resolve symlinks. How to reproduce from any directory:

[code]

 This is a bit problematic if you want to install jbake in a more linux/unix way.

[2016-07-22 20:18] #283 closed

[2016-08-15 19:15] dinesh19aug commented on #290
If you are using db.store=local then you need to pass --reset option. So in your case
the command should be bake -b -s --reset.

[2016-08-15 20:24] dinesh19aug commented on #290
Actually it is a bug and I was just going through the code and see this.
In the project example_project_freemarker folder under output/cache where posts.ocl is saved, The sha1 key is changing as result an existing files is marked as new and is displayed twice.

The code is in Crawler class
 private DocumentStatus findDocumentStatus(String docType, String uri, String sha1) {
        List<ODocument>

[2016-08-16 18:32] mtnygard opened #300 "When a directory has a dot (".") in it, but the filename doesn't, FileNotFoundException results."
# Situation

My content files are supplied in asciidoc. I have `output.extension` and `outfilesuffix` both set to nothing in jbake.properties.

The target directory has a dot in it. Inside `org.jbake.app.Renderer`, the output file path is truncated at the dot. The renderer then attempts to create a writer on that path. The path happens to refer to a directory, so it passes the file.exists() check,

[2016-08-16 19:12] mtnygard commented on #300
I have a fix for this, but am having a hard time crafting a test. It needs an output directory with a dot in it (which AbstractTemplateEngineRenderingTest doesn't have in its setup) and a content file without an extension (which the Parser doesn't know how to handle in the tests.)

So far, I've just copied the renderPost test case. (Visible in mtnygard/jbake@656a39ce2b877647d7).

Got any ideas abo

[2016-08-21 09:58] jonbullock commented on #180
I agree the header code should be more tolerant of blank lines and spaces and this will be included in v2.5.0, but I don't agree with the multiline option support. The header is meant to be simple and concise.

[2016-08-21 10:00] #180 closed

[2016-08-21 10:04] jonbullock commented on #208
This enhancement will involve more of a structural change, so bumping this to the next release for the time being.

[2016-08-22 13:44] jonbullock commented on #287
Yeah unfortunately @jbake was taken on Twitter and on here. I have acquired javabake on here as well just in case, and I probably prefer that to jbake-org but at the time I moved the repo I went with what matched the domain name. On Twitter I tend to use the hashtag #jbake

[2016-09-12 12:43] jonbullock commented on #265
Now fixed in site repo.

[2016-09-12 12:43] #265 closed

[2016-09-14 21:04] jonbullock commented on #284
Hi Manik

1. The permlink is directly driven by the filename of the source file. As you highlight the extension is optional or will be soon.
2. Thanks I'll review once I've got 2.5.0 released.
3. Yeah paging has been added for the index page only at the moment.

[2016-09-14 21:05] #284 closed

[2016-09-14 21:53] jonbullock commented on #281
Thanks @manikmagar and @haumacher for sharing your thoughts on this topic and @halyph for raising this. I'll look to add this in the next release (after 2.5.0) once I've given it some more thought, as there is a related suggestion to ignore certain folders (with a dot prefix etc.) from baking.

[2016-09-14 22:02] jonbullock commented on #288
@EdwinFLopez did you achieve what you wanted to by using a custom content type?

[2016-09-14 22:07] jonbullock commented on #289
All the scheduled issues for v2.5.0 are now complete, so not long now until the next release.

[2016-09-14 22:07] #289 closed

[2016-09-14 22:13] manikmagar commented on #284
Hi @Jonathon,

Thanks for checking out. I have two sites Manik.magar.me and UnitTesters.com that are baked with JBake.

For unittesters.com I am using my forked version of JBake where I have merged my two PRs #293 and #294 that I Implemented for permalink customization and categories ( you can see them I use at UnitTesters.com)

These PRs are on source repo too.

Again, thanks for all the effort o

[2016-09-15 09:02] jaguililla commented on #289
That's great! thank you very much

[2016-09-24 09:04] obfischer commented on #290
+1

[2016-09-24 09:54] obfischer commented on #224
We have to differ between Java 8 as possible runtime environment and using Java 8 language features.

[2016-09-26 12:56] jonbullock commented on #297
Thanks for raising this issue, there are a number of improvements I'm looking to make to the startup scripts as they were quickly created when I first released the code but not been looked at since.

[2016-09-26 12:58] jonbullock commented on #297
Relates to #230 #182

[2016-09-26 19:50] jonbullock commented on #300
Hmm the template engine tests don't lend themselves well to this situation.

For this situation I'd create a separate test case (maybe even a new class) that just tests the Renderer.render method for this specific scenario. We've recently added support into the tests for Mockito which you could use.

[2016-09-26 19:52] jonbullock commented on #300
I'm working on v2.5.0 at the moment so if you raise a PR with the fix in I'd be happy to include it in the next release, the test case can always come after in a separate PR.

[2016-09-26 21:58] jonbullock commented on #290
This bug has been fixed in v2.5.0 as part of #226.

[2016-09-26 21:58] #290 closed

[2016-09-27 18:13] ancho commented on #297
Maybe the scripts generated by the gradle application plugin solve that problem. See #280.

[2016-10-03 22:09] jonbullock opened #307 "Script issues on OS X"
You see the following lines each time you execute JBake

[code]

[2016-10-03 22:09] jonbullock commented on #307
Relates to #225

[2016-10-04 21:52] #307 closed

[2016-10-05 15:02] mismatch commented on #177
Could you please clarify why do you need this option? Version is printed anytime you use JBake. You can run it without parameters to see version and exit program immediately.

[2016-10-09 10:51] #264 closed

[2016-10-09 10:53] #221 closed

[2016-10-09 10:55] jonbullock commented on #177
I'm going to close this one as the behaviour has changed in 2.5.0 so running JBake with no options now shows the help by default which includes the version of the product.

[2016-10-09 10:55] #177 closed

[2016-10-10 05:40] SergeyPirogov opened #308 "Improve Pagination support so next/previous filenames can be customised to the point that it allows URL's such as /blog/1 /blog/2"
Hi,

I started to move my blog from ghost to Jbake and found that now it's not possible to add page paggination.

Now we can set post per page, but how to switch between pages?

[2016-10-11 12:16] jonbullock commented on #308
In 2.5.0 pagination support has been added to the special index page. You can add links to switch between pages in your template engine by using the additional data variables explained in the docs: http://jbake.org/docs/2.5.0/#index

[2016-10-12 09:23] SergeyPirogov commented on #308
Thanks, I think it would be better to not paginate like index2.html, index3.html, but instead we can do folders like 2, 3, 4 with corresponding index.html files inside, so it wil be possible to use url as http:://host:post:/blog/2/

[2016-10-12 18:15] jonbullock commented on #308
Unfortunately that's not possible at the moment with JBake, the page filenames is pretty baked into the code at the moment. We do support extensionless URI's but this doesn't extend to the special pages at the moment either. Both of these aspects can be changed in a subsequent release though.

Thanks for taking the time to raise this issue though. 👍

[2016-10-13 07:16] SergeyPirogov commented on #308
Actually now I want to add paging and do it as:

[code]

But it says that this variable is ubdefined. So I don't have paging buttons.

I have 2 pages with 5 articles for each

[2016-10-20 11:44] nerdcoding opened #310 "Index variables don‘t exist despite enabled pagination"
### Problem

I used the latest JBake 2.5.0 release, enabled paging and set the post per page parameter:

[code]

However in my freemarker template the variables `nextFileName` and `previousFileName` does not exist:

[code]
### Possible solution

In `org.jbake.app.Renderer#renderIndex()` the variables are put to the model map:

[code]

 But the model is never given to freemarkers template engine. M

[2016-10-27 12:55] SergeyPirogov commented on #310
Have the same issue

[2016-11-04 00:08] jmcgarr opened #314 "JBake JettyServer doesn't work with custom destination"
I am running a JBake site using the Gradle plugin. I am partial (and so it the plugin) to using the `src/jbake` directory for source and the `build/jbake` directory for output. I cannot get jbake to serve content using these two directories. Here's the command I used:

`jbake src/jbake build/jbake -b -s`

This results in a successful bake to the `build/jbake` directory, but the Jetty server presen

[2016-11-05 12:09] gilbertoca opened #315 "Regression on issue #181"
After changing to the new version I've got the same behavior described in #181. I've not used the tag.sanitize option until now.
[code]

With version 2.4.0:
[code]
produces the correct output.
With version 2.5.0:
[code]
produces the output with hyphen, so breaking the blog site links. Adding the tag.sanitize=true option it works appropriately.

[2016-11-09 22:47] jonbullock commented on #297
Definitely looks like an option. 👍

[2016-11-09 23:09] jonbullock commented on #308
Looks like @ancho has already implemented the enhancement you outlined.

I've just checked the code & docs again on paging and you need to define the following options in your jbake.properties for those paging variables to be made available

[code]

Have you defined these?

[2016-11-10 04:44] beikov opened #317 "Expand allowed characters for template type name"
As discussed on the mailing list, please allow for other characters in the template type name.

[2016-11-10 06:38] SergeyPirogov commented on #308
Yes, I did everything the same

[2016-11-12 12:21] jonbullock commented on #310
Thanks for taking the time to raise an issue about this.

[2016-11-12 13:46] ancho opened #318 "update orientdb"
A user at the mailing list was confused about the warning "Current implementation of storage does not support sbtree collections" . See https://groups.google.com/forum/#!topic/jbake-user/8hdkh-zl_Sk

It has maybe something to do with indexes and the currently used version of orientdb (1.7.10).

The current version of orientdb is 2.2.12

[2016-11-13 21:15] jonbullock commented on #314
At first glance this is probably down to the fact that the -s option is configured to use the source parameter.

[2016-11-13 22:28] jonbullock commented on #315
Hi Gilberto, just to confirm I've understood correctly. The behaviour you experienced in 2.4.0 was that the tag values were not sanitized (i.e. spaces replaced with hyphens) by default but in 2.5.0 the tag values have been sanitized by default. Is this correct?

[2016-11-13 22:29] jonbullock commented on #308
OK thanks just wanted to double check.

[2016-11-14 12:36] gilbertoca commented on #315
Yes, you've got it!
The tag files come with hyphens, but the content not.
Putting ```tag.sanitize=true``` make both with hyphens.

[2016-11-14 21:00] ancho commented on #314
It is also possible to apply the gradle gretty plugin. For example:

[code]

Run `gradle jettyRun` to fire up jetty with your fresh baked website.

See https://github.com/ancho/calmdev-website for a configuration with different target environments (local, test and prod).

[2016-11-14 23:42] jmcgarr commented on #314
Thanks for that @ancho.

I really wanted the `jbake-gradle-plugin` to take advantage of the new file watching features built into the `Main.java`. My hope is to land this fix so I can push that PR as well.

[2016-11-15 07:25] ancho commented on #314
gradle has a continuous build feature `gradle -t`. It watches for changes of the task inputs an runs the task again if something has changed.

See https://www.calmdevelopment.de/blog/2016/08/jbake-continuous-with-gradle.html

[2016-11-15 07:50] ancho commented on #314
But don't get me wrong. It's still a bug and need to be fixed. Thank you for cleaning up and improving the application.

[2016-11-16 22:33] jonbullock commented on #315
OK thanks for raising this, I'll investigate and see what's changed.

[2016-11-16 22:47] #315 closed

[2016-11-25 21:25] jflinchbaugh opened #320 "Here's an MTE/bootstrap example if people want it"
https://github.com/jflinchbaugh/jbake-example-project-groovy-mte-bootstrap

Please feel free to take this donation of template code.

[2016-12-04 04:09] gwnio opened #321 "Asset folder copy to output"
By default the assets subfolders (css, img, etc) get copied to the root output folder.  Is there a way to copy those to a subfolder in the output folder i.e. output/asset/css/*.css?  Just browsing through the code particularly org.bake.app.Asset class, it does not appear that this configuration adjustment is possible.  Also it would be nice to be able to exclude a asset subfolder from being copied

[2016-12-12 11:08] oliverlietz commented on #321
You can create a sub directory `assets` in `src/main/jbake/assets` (`src/main/jbake/assets/assets`) of course. Not nice, but works. Having a configuration for it is preferable though.

[2016-12-12 14:17] oliverlietz opened #323 "Tag pages are created for documents of type post only"
`org.jbake.app.Renderer#renderTags(String)` calls `ContentStore#getTags()` where it should call `ContentStore#getAllTags()` (IMHO), see #266 @jonbullock, WDYT?

[2016-12-13 01:32] gwnio commented on #321
That's exactly the solution that I came up with and ended up using.  Thanks for the reply!

[2016-12-14 20:12] jonbullock opened #324 "Allow certain folders to be ignored from being processed either as content or assets"
Allow certain folders to be ignored from being processed either as content or assets.

[2016-12-14 20:13] jonbullock commented on #324
See #281 and related issue #321

[2016-12-21 13:47] jonbullock opened #325 "Index template is not rendered regardless of config if no content of type post exists in site/project"
Index template is not rendered regardless of config if no content of type post exists in site/project.

[2016-12-21 22:57] #325 closed

[2016-12-22 00:32] ancho commented on #325
Hmm. Should already be fixed with #312.

[2016-12-22 07:32] jonbullock commented on #325
Yeah just after I committed a fix I started to look at merging #312 in and
noticed you had fixed it as well. I've reverted my fix now and will merge
#312 in.

On 22 Dec 2016 12:32 am, "Frank Becker" <notifications@github.com> wrote:

Hmm. Should already be fixed with #312
<https://github.com/jbake-org/jbake/pull/312>.

—
You are receiving this because you modified the open/close state.
Reply to th

[2016-12-22 13:38] ancho commented on #325
You answered to a previous message. I reviewed your change and I was wrong. There needs to be a fallback for paginated index rendering in case there is no post available.
Added a test and pushed a commit to #312.

[2017-01-02 23:22] #310 closed

[2017-01-04 23:29] jonbullock commented on #314
See #316

[2017-01-04 23:29] #314 closed

[2017-01-08 22:43] ottlinger opened #326 "Rendering custom properties from jbake.properties into Thymeleaf or markdown templates"
I'd like to render my own properties into thymeleaf template files (the variable is correctly injected into asciidoc documents but does not work in thymeleaf template files)

## Example

My jbake.properties contains:
[code]
and my menu.thyme tries to reference this in a menu item header:
[code]
but is rendered as
[code]

What do I do wrong? Is that a missing feature in jbake 2.5.0 or do I have to

[2017-01-09 07:32] ancho commented on #326
Hi. You can reference configurations with `configuration.[option]`. In your case `configuration.foo_version`. See http://jbake.org/docs/2.5.0/#global

[2017-01-09 08:18] ottlinger commented on #326
Thanks, after changing the template to:
[code]

the baking does not work and yields:
[code]

Any ideas?

[2017-01-09 11:27] ancho commented on #326
Hmm....have you tried to rename the property to foo.version in  jbake.properties?

[2017-01-09 11:31] ottlinger commented on #326
@ancho the references get resolved in markdown and asciidoc, only Thymeleaf seems to be problematic :-(

[2017-01-09 11:38] ancho commented on #326
Ahh. Ok. I didn't get that. Sorry.

[2017-01-09 22:33] ottlinger commented on #326
@ancho I rechecked my repository:
* Asciidoc injection works with:
[code]
while markdown and thymeleaf do neither work with/out the configuration prefix.

Is there a config option I missed? Thanks.

[2017-01-11 08:15] ancho commented on #326
@ottlinger have you updated your project to jbake 2.5.0? notice that the version of thymeleaf is 3.0.2.

According to the documentation http://www.thymeleaf.org/doc/tutorials/3.0/usingthymeleaf.html#more-on-texts-and-variables you need to access variables with a tag attribute like `th:text` or `th:utext`.

I tried it with the following tag in a thymeleaf footer template like:

`<p>foo version: <sp

[2017-01-11 20:55] ottlinger commented on #320
@jflinchbaugh can this issue be closed since your code have been moved to an official sub-repo?
https://github.com/jbake-org/jbake-example-project-groovy-mte

Thanks

[2017-01-11 20:59] ottlinger commented on #326
@ancho Thanks for your help, again - I thought to have tried this option before, maybe ran into caching issues. The prefix `config.` allows injection of the variable into thymeleaf files.

Is there a simple/same way to do this in markdown? Neither prefix nor maven syntax with dollar seems to work. All I see is the version placeholder in my generated md file.

[2017-01-11 21:25] ancho commented on #326
I don't think so. The [MarkdownEngine](https://github.com/jbake-org/jbake/blob/master/src/main/java/org/jbake/parser/MarkdownEngine.java) doesn't seem to handle variables.
Maybe another markdown parser like [flexmark-java](https://github.com/vsch/flexmark-java) implements something like that.

As pegdown has a big fat deprecation notice we should change it anyways....

[2017-01-11 21:27] ottlinger commented on #326
ok - can't be helped at the moment. At least Asciidoc and Thymeleaf work properly. I'm going to raise a PR updating the documentation to make this more clear.

@ancho thanks for figuring this out.

[2017-01-11 21:31] ancho opened #327 "Evaluate a replacement for pegdown markdown parser"
[pegdown](https://github.com/sirthias/pegdown) is marked deprecated. The author suggests [flexmark-java](https://github.com/vsch/flexmark-java).

[2017-01-11 21:34] ancho commented on #326
Nice. Thank you. I opened an issue to evaluate a new markdown parser. See #327

[2017-01-11 21:49] ancho commented on #320
@ottlinger The official repo uses the foundation framework. I think we can use more example projects with different css frameworks or plain css hacks to satisfy different tastes.

A collection with different sample projects and howto use them would be a nice beginning.

Future idea: A webservice to consume an example project while initializing a new jbake project :)

[2017-01-13 05:41] uli-heller opened #329 "jbake-master: realpath: command not found on Ubuntu-14.04"
Looks like realpath is not available by default:

[code]

I know I can fix this by `sudo apt-get install realpath`. On the other hand, I'd prefer to minimize the dependencies of jbake.

[2017-01-13 05:51] uli-heller opened #331 "jbake: "-b" is not the default action any more"
* jbake-2.4.0: Executing `jbake` (without an option) behaves like `jbake -b`
* jbake-2.5.0: Executing `jbake` shows a help message
* jbake-master: Like 2.5.0

The help message looks like this:

[code]

The part "this is the default action if no option is supplied" is not true any more, I think...

[2017-01-13 06:23] uli-heller opened #332 "jbake-master: "jbake -b" shows java.util.NoSuchElementException: 'index.paginate'..."
* jbake-2.5.0: No error/warning
* jbake-master: Displays an error/warning

[code]

[2017-01-13 22:34] ottlinger commented on #320
@jflinchbaugh would it make sense to integrate the donation as a new type of base template to bootstrap a jbake project?

[2017-01-14 18:21] johnament opened #333 "jbake -s should automatically override site.host"
The property `site.host` is defined in `jbake.properties` to rewrite URLs.  This works, except when you're using `jbake -s` to run your site.  This is running on `localhost:8820` however generated links that reference `config.site_host` point to whatever is in `site.host`

with this enhancement, jbake should know that its running with -s and use the local service URL instead of what is in `site.ho

[2017-01-19 22:59] lidderupk opened #335 "Ability to add github styled internal links to markdown"
Wondering if jbake supports inline anchor tags. For example if the markdown looked like

#Introduction
Sample text.

Then the following would link to "Introduction" above.

```- [Introduction](#introduction)```

Github generates the following code to the heading that makes it linkable.

```<a href="#introduction">Introduction</a>```

I understand that the markdown may be generated by a different l

[2017-01-21 22:26] jonbullock commented on #335
JBake is using [Pegdown](https://github.com/sirthias/pegdown#introduction) for Markdown support and it does have an extension for ANCHORLINKS so you can enable this by altering your ```jbake.properties``` - see this section of the [docs](http://jbake.org/docs/2.5.0/#markdown_extensions) for more info

[2017-01-21 22:28] #335 closed

[2017-01-22 12:58] jonbullock commented on #329
Thanks for reporting and fixing this.

[2017-01-22 12:59] #329 closed

[2017-01-22 13:02] jonbullock commented on #331
You're right, thanks for catching this one.

[2017-01-22 13:03] jonbullock commented on #332
Thanks for reporting this... I'll have to investigate this further to see what is going on.

[2017-01-22 20:50] jonbullock commented on #320
I haven't forgotten about this @jflinchbaugh - it's just a little down in the priorities at the moment.

The current system doesn't scale well and updates wait for a JBake release which isn't ideal so something like @ancho has suggested would be good. Along the same lines we could use [Lazybones](https://github.com/pledbrook/lazybones) which is also available via SDKMAN ?

[2017-01-22 21:04] ancho commented on #320
+1 for lazybones

that's a very good idea.

[2017-01-22 21:08] jonbullock commented on #326
Looks like @acho has solved the initial query - thanks for that :)

To clarify properties in the configuration are made available to all of the template engines via the ```config.``` prefix. However Asciidoctor does allow you to inject attributes so that are available when the AsciiDoc content is processed as well.

[2017-01-22 21:08] #326 closed

[2017-01-22 21:10] jonbullock commented on #327
Thanks for raising this one.

[2017-01-22 22:28] jonbullock commented on #318
Yeah I want to work out what's caused that warning, I remember trying to upgrade the version but the structure has changed from 1.x to 2.x so it wasn't quite as easy as updating the version in the POM file.

[2017-01-22 22:49] jonbullock commented on #317
Need to allow dash and underscore characters and also include details of limitation in documentation.

[2017-01-23 18:22] jonbullock commented on #320
It does seem the perfect short term solution, would users mind having to install a 3rd party tool to perform this function?

[2017-01-23 18:26] jonbullock commented on #320
Just found this issue pledbrook/lazybones#63 which would be ideal.

[2017-01-23 19:28] ancho commented on #320
As a first solution to provide more templates I think it is fine as it is optional. You do not force anybody to install lazybones as it is possible to download the template files manually from bintray. See https://bintray.com/pledbrook/lazybones-templates

The link above is the official repository from lazybones. And a nice example for collaborated templates, as a repository owner can link others

[2017-01-23 20:44] ancho commented on #332
I Can confirm the same behavior. IndexRenderer tries to access a configuration property which is not present in that case.

We should fallback to normal index rendering if the property is not set. I will fix that.

[2017-01-23 22:25] #259 closed

[2017-01-24 22:27] jonbullock opened #338 "Migrate over to Lazybones for example templates"
Convert existing templates over to Lazybones and remove command line option in JBake, users can then either install Lazybones to perform this task or download the templates themselves from Bintray.

This provides a better option for other users to upload their own templates to Lazybones for others to use without JBake and each release being a bottleneck.

Ultimate goal would be to embed Lazybones

[2017-01-24 22:30] jonbullock commented on #332
Thanks @ancho 👍

[2017-01-24 23:24] #332 closed

[2017-01-25 23:09] #331 closed

[2017-01-26 07:41] ancho commented on #317
Maybe this one is a candidate for 2.6.0?

[2017-01-27 22:00] #317 closed

[2017-01-28 14:25] #288 closed

[2017-01-28 14:26] jonbullock commented on #285
Contributors guide now exists.

[2017-01-28 14:26] #285 closed

[2017-01-29 22:00] jonbullock commented on #126
Linking #338

[2017-01-30 20:04] jonbullock commented on #300
Come up with this test for the bug: https://gist.github.com/jonbullock/41dde7da607afe3a78983c984f288693

It requires a new constructor to be added to Renderer which may help other tests long term, the test focuses on testing the logic within Renderer as there are some scenario's that don't have any coverage at the moment so this test class can be expanded upon later on. Comments?

[2017-01-30 21:04] ancho commented on #300
Hey Jon,

I think it is good style to make the `DelegatingTemplateEngine` configurable. Testing is much easier that way.

But I wonder if `destination` and `templatesPath` is really necessary, as those two attributes should be present within the `CompositeConfiguration` accessible with `config.getString(Keys.DESTINATION_FOLDER)` and `config.getString(Keys.TEMPLATE_FOLDER)` .

[2017-01-30 21:39] ancho commented on #300
How about introducing a `JbakeConfiguration` ?

See https://gist.github.com/ancho/f61643f93d6bdb9a73c90dca32202d3e

[2017-01-30 21:53] jonbullock opened #339 "Bake fails on jbake.org due to duplicate SHA1 hashes in index"
Log:

[code]

[2017-01-30 21:53] jonbullock commented on #339
Caused by content pages that are identical so SHA1 hash generated is the same.

[2017-01-30 22:01] ancho commented on #339
Hihi. Jbake doesn't like documentation duplication as well  😜
Just kidding.

[2017-01-30 22:07] jonbullock commented on #339
Haha 😜 took me a while to work out why I was getting that error!

[2017-01-30 22:08] #339 closed

[2017-01-31 21:57] jonbullock commented on #300
`DelegatingTemplateEngine` needs refactoring as well really as that is what needs `templatesPath` in the real life usage scenario. At the very least this is a step in the right direction and makes sure this bug is fixed and tested for.

If the user hasn't specified a custom source and destination we could get them from the Config and I noticed you suggest a solution for this (by setting it into th

[2017-01-31 22:00] #300 closed

[2017-02-01 07:19] ancho commented on #300
Sure. It's on my list....

[2017-02-02 17:21] ventooUser commented on #257
Sorry for not answering. I must have somehow missed the notification. The problem is not dramatical and it is easy to circumvent if you are aware of it. I attached a zip file ([example.zip](https://github.com/jbake-org/jbake/files/748426/example.zip)) containing two versions of the same document. They look identical in an UTF-8 Aware Editor. However the working example (without BOM) Shows the titl

[2017-02-04 15:33] ancho opened #340 "Introduce a configuration abstraction to access configuration properties in a clean and concise way"
This is more a cleanup and refactoring Task. See comments from #300.

JBake uses [apache commons CompositeConfiguration](https://commons.apache.org/proper/commons-configuration/userguide/howto_compositeconfiguration.html) or it's interface `Configuration` to access configuration properties.

It's all over the place and accessed in the same way, with some constant keys defined in `ConfigUtil.Keys`

[2017-02-04 19:15] ottlinger commented on #340
@ancho Thanks, would it make sense to rely on existing solutions for Configuration management such as
http://tamaya.incubator.apache.org/ ?

[2017-02-04 20:09] ancho commented on #340
Hi @ottlinger. Interesting project. But I don't think there is any need to replace a configuration solution with another one yet. I think it's more a matter of cleaning up the code. To make it possible to replace the  configuration solution with ease at later time, without touching all the places already coupled with the CompositeConfiguration class.

[2017-02-04 21:40] ancho commented on #340
Hi @ottlinger. Interesting project. But I don't think there is any need to replace a configuration solution with another one yet. I think it's more a matter of cleaning up the code. To make it possible to replace the  configuration solution with ease at later time, without touching all the places already coupled with the CompositeConfiguration class.

[2017-02-04 21:48] ancho commented on #340
Hmm. After reading more about tamaya I got curious. I will give it a try.

[2017-02-06 10:01] gregopet commented on #281
I support this suggestion entirely, assets related to the article belong next to the article text. Multiple people write articles for our page and the cleanest way is to just tell them to go create a folder and stick all their content in there - I wish there was a way to simply put the source files under `src` (or whatever we decide to call it) instead of having to tell people to open `src/jbake/c

[2017-02-09 08:43] ancho commented on #340
Ok. So I decided to cleanup the configuration of jbake and it's components.

@ottlinger I didn't use tamaya. And I know that Jon is careful of adding external dependencies to the project, which is fine. tamaya is in longtime incubating mode as it seems.

But if you like, you can fork my branch and show an alternative with tamaya as a proof of concept.

https://github.com/ancho/jbake/tree/feature/c

[2017-02-09 12:16] ottlinger commented on #340
@ancho Thanks for your comments, we are working on a new release of Tamaya with a new homepage. The upcoming version 0.3-incubating contains loads of new features.

[2017-03-09 23:30] robshep commented on #246
Any chance I can hop onto the bleeding edge and test jbake/java7 with pebble?

[2017-03-12 21:40] jonbullock commented on #246
Yeah sure... the work to add support is available in #161 but probably needs some re-working to fit in with the structure now. Give me a shout if you need anything else.

[2017-03-18 21:32] ghaseminya opened #342 "Add new Calendar"
Hi
My locale calendar is Jalaali calendar,
Can i PR new version of jbake with this new features?
I added some new library to jbake and some change in sources.
Thanks,

[2017-03-20 13:34] shalugin commented on #18
@jonbullock Is there any news on this feature? All discussions are very old.

[2017-03-21 12:45] xamde opened #343 "preview fails if bake was not called before"
The doc http://jbake.org/docs/2.5.1/#preview says, "jbake -s" will show the output. However, it failed if "jbake  -b" was not called before.

[2017-03-22 08:42] shalugin commented on #343
@xamde I think that the key in phrase: "You can then see what your **baked project** looks like immediately by running JBake"

[2017-03-22 08:44] xamde commented on #343
I expected the "watch source folder" feature to take care of this. But I found the watch folder feature not to work as expected (seems to work only if content is changed, not if templates are changed). Nevertheless, I agree, I mis-read the docs, this issue can be closed.

[2017-03-22 08:44] #343 closed

[2017-03-29 21:47] jonbullock commented on #343
@xamde could you open an issue to extend the watch mode to include the template folder as well?

[2017-03-29 22:09] jonbullock commented on #18
Not yet, but it's still on my to do list.

[2017-03-29 22:17] jonbullock commented on #342
Hi @ghaseminya JBake doesn't specify any calendar by default, do you have issues running JBake at the moment?

Can you provide some further details on the changes you've made?

[2017-04-03 21:54] jonbullock commented on #224
Just posted to the dev mailing list about this, proposed roadmap is:

- v2.6.0 onwards will require Java 7 runtime
- v3.0.0 onwards will require Java 8 runtime

Please post on the mailing list if this poses a problem.

[2017-04-03 21:54] #224 closed

[2017-04-07 08:49] pilhuhn opened #344 "Add a way to get the abstract instead of the full post."
JBake (at least with AsciiDoctor) treats the first paragraph(*) of a blog post differently than the reminder of the body. With AsciiDoctor/Freemarker those end up in a `<div id="preamble"/>`

It would be good to expose that part to templates, so that the main blog page could only feature abstracts and then link to the details. Right now with `context.body` the full text from the rendering engine i

[2017-04-08 20:03] levlaz opened #345 "Archive Formatting with New Installation of Jbake + Jade is Broken"
On a fresh install of Jbake using the [jade4j](https://github.com/neuland/jade4j) templating language, when you visit the archive page it does not appear to properly format the date, and some of the jade syntax appears in the html. (as shown in the screenshot)

![screen shot 2017-04-08 at 12 58 18 pm](https://cloud.githubusercontent.com/assets/7981032/24832011/602f579a-1c5b-11e7-8776-67f0b3b805c2.

[2017-04-09 17:35] jonbullock commented on #345
Thanks for raising this issue, I'm able to replicate it.

[2017-04-09 20:43] jonbullock commented on #345
It's to limit the output of the month & year so it's not output for each post. The line should be:

[code]
I'll make sure this is fixed in the default template files.

[2017-04-09 20:48] #345 closed

[2017-04-10 22:24] jonbullock commented on #344
It should be possible to extract the preamble from the Asciidoctor AST classes... need to think how this can be exposed via the data model in a way that works regardless of the content type though.

[2017-04-18 22:24] jonbullock commented on #230
Wildcards isn't supported when using manifest classpath, need to set classpath in exec script as wildcards are allowed here.

[2017-04-18 22:40] jonbullock commented on #227
@haumacher I'd like to discuss this further with you if you're still interested?

[2017-04-18 22:41] #215 closed

[2017-04-18 22:42] #202 closed

[2017-04-18 22:42] #201 closed

[2017-04-18 22:57] jonbullock commented on #73
Addressed by #341

[2017-04-18 22:57] #73 closed

[2017-04-18 22:58] #62 closed

[2017-04-18 23:02] #59 closed

[2017-04-18 23:04] #9 closed

[2017-04-18 23:04] jonbullock commented on #13
Need to define how this needs to be improved...

[2017-04-22 11:09] jonbullock opened #346 "Extend watch mode to detect when changes are made to template folder"
Linking related issue #343

[2017-04-29 07:24] jonbullock commented on #281
@gregopet Using the JBake Gradle plugin, you should be able to set whatever source folder you like: https://github.com/jonbullock/gradle-jbake-site/blob/master/build.gradle#L30

And you can alter the config that specifies 'content' as the folder to look in.

[2017-05-02 21:22] #257 closed

[2017-05-04 21:40] romain-grecourt opened #348 "Export header properties as asciidoc attributes"
I would like to use an asciidoctorj extension and drive it with properties in the jbake content header.
When using asciidoctor.attributes.export=true, only jbake properties are exported.

I came across the following code snippet from org.jbake.parser.AsciidoctorEngine:

     final AttributesBuilder attributes = attributes(config.getStringArray(Keys.ASCIIDOCTOR_ATTRIBUTES));
        if (config.getB

[2017-05-04 22:46] jonbullock commented on #348
Hi Romain

If you're using AsciiDoc formatted content then you don't need to define the properties in a JBake specific metadata header and export them so Asciidoctor is aware of them. You can define the required properties as attributes in the AsciiDoc content itself.

When it comes to using an AsciidoctorJ extension, you'll have to manually add it to the classpath for the time being. Making this

[2017-05-05 00:51] romain-grecourt commented on #348
Thanks for the prompt response !
I quickly realized that I could use asciidoc content to drive my extension.

I'm actually using the jbake maven plugin, and putting the extension as a plugin dependency works.

[2017-05-06 16:34] jonbullock commented on #348
Ah OK, be interested to see your POM if it's public somewhere? As I'd like to include details on how to do this in the docs.

[2017-05-08 11:13] gregopet commented on #281
I had to upgrade the plugin version but it works now, thank you!

[2017-05-08 14:24] manikmagar opened #350 "Make tagged documents data available as global data."
As of now, only `alltags` is available globally and it only contains String list of tag names. For one of the blogs, on home page, I want to show  number of documents in each tag, which doesn't seem possible or easily achievable.  May be alltags can return list of Tag model where Tag object could be a map of `{ "name" : "test", "noOfDocuments": 30, page-url: "{name/sanitizedname}"}` or more elemen

[2017-05-08 14:34] manikmagar opened #351 "Add rendering support to generate /tags homepage"
Individual tags are rendered inside /tags or ${config.tags_path} folder but there is no way to define template page for /tags itself. As of now, if /tags is hit and if directory listing is enabled, then it just displays directory listing of tag html files. Instead of that, a new template should be added to allow rendering for /tags home page. This is helpful when you just want to add site menu 'Ta

[2017-05-08 19:57] jonbullock commented on #278
Fixed by #352

[2017-05-08 19:57] #278 closed

[2017-05-08 20:56] #308 closed

[2017-05-09 21:04] jonbullock opened #355 "Use AppVeyor for making sure tests run on Windows platform"
Suggested by @ancho

Good example for reference: https://github.com/asciidoctor/asciidoctorj/blob/master/appveyor.yml

[2017-05-09 21:36] #333 closed

[2017-05-10 14:52] manikmagar commented on #350
For the number of tagged posts, this one seems to be duplicate of #216 .

[2017-05-10 14:54] manikmagar commented on #350
Accidentally closed it while adding previous comment, I will keep it open for review to see if more data about tags should be exposed? I am going to use the solution specified in #216 .

[2017-05-10 14:59] manikmagar commented on #351
This is part of #165

[2017-05-10 17:58] #318 closed

[2017-05-10 22:00] manikmagar commented on #216
@jonbullock  Accessing `${db.getPublishedPostsByTag(tagname)}` throws below exception in Freemarker template. Is there a different way of accessing db for freemarker?

JBake failed with 1 errors:
1. java.lang.Exception: Failed to render index. Cause: Failed to render index.html

org.jbake.app.JBakeException: JBake failed with 1 errors:
1. java.lang.Exception: Failed to render index. Cause: Failed

[2017-05-10 22:02] manikmagar opened #357 "Accessing db in freemarker template throws exception"
Accessing `${db.getPublishedPostsByTag(tagname)}` throws below exception in Freemarker template. Is there a different way of accessing db for freemarker?

FreemarkerTemplateEngine.java, line 90 - I think the case of accessing db is not a collection but contentstore.

`} else {
							// All other cases, as far as I know, are document collections
							return new SimpleSequence((Collection) extrac

[2017-05-11 06:20] ancho commented on #357
Umm....I think you found a rare case, nobody is using :) The db key is an undocumented feature or in this case a potential bug.

If you look at the ModelExtractor for the ["db" key](https://github.com/jbake-org/jbake/blob/master/src/main/resources/META-INF/org.jbake.template.ModelExtractors.properties) you [can see](https://github.com/jbake-org/jbake/blob/master/src/main/java/org/jbake/template/mo

[2017-05-11 06:20] ancho commented on #357
Good one. Thank you.

[2017-05-11 06:29] ancho commented on #350
Jup. That would be nice. I think a refactoring to a better data model abstraction is the right way to go.

[2017-05-11 21:24] #276 closed

[2017-05-11 21:30] jonbullock commented on #107
Done as part of #280

[2017-05-11 21:30] #107 closed

[2017-05-11 21:32] jonbullock commented on #189
Done as part of #280

[2017-05-11 21:32] #189 closed

[2017-05-11 21:41] jonbullock commented on #261
Fixed when #229 was merged in.

[2017-05-11 21:41] #261 closed

[2017-05-12 20:40] jonbullock commented on #357
Thanks for raising this issue @manikmagar and I've logged an issue to make sure it's included in the docs for the next release.

[2017-05-12 20:41] jonbullock commented on #357
Oh what version where you using when you found this bug?

[2017-05-12 22:50] manikmagar commented on #357
I have 2.5.1 installed but then using master to debug and fix issue. My files master may be 2-3 days behind JBake/master.

[2017-05-13 18:44] manikmagar opened #360 "Relative path's are broken due to wrong rootpath when extensionless uri is enabled."
When extensionless uri's are enabled. [Crawler](https://github.com/jbake-org/jbake/blob/master/src/main/java/org/jbake/app/Crawler.java) is making rootpath first but not updating it with one more '../' when extension less uri is on.

[2017-05-13 19:22] jonbullock commented on #360
Thanks for catching this one.

On 13 May 2017 7:44 pm, "Manik Magar" <notifications@github.com> wrote:

[2017-05-13 19:24] manikmagar commented on #360
Working on a fix, will send PR soon.

[2017-05-14 03:10] manikmagar commented on #360
I found same issue for paginated index pages also. eg. blog/2/index.html was missing one level "../" in rootpath. PR fixes both issues.

[2017-05-15 19:25] manikmagar opened #365 "Generate 404 page not found html"
No matter where static website/blog is hosted, you would always want a page to display when 404 page not found error occurs.

Github pages may be the most popular ( & free :) ) place to host static sites. Github does support adding a custom 404 page not found file in github-pages - See [this](https://help.github.com/articles/creating-a-custom-404-page-for-your-github-pages-site/). It is simple, 40

[2017-05-15 21:55] jonbullock commented on #351
Great suggestion, thanks for raising this.

[2017-05-15 22:09] jonbullock commented on #365
My initial thought is that option 2 exists to deal with this type of scenario. Long term I'm thinking this could be dealt with by a specific plugin/extension, to create pages like this.

But I'm eager to hear others opinion on this...

[2017-05-15 22:11] jonbullock commented on #357
Thanks for clarifying.

[2017-05-15 22:13] jonbullock commented on #360
👍

[2017-05-16 02:51] manikmagar commented on #365
In my opinion, 404 should be treated as a content-independent basic component of a site similar to sitemap, rss which are generated by JBake. I know they show content list but we don't have to register them as a type or add sitemap as a content, framework generates it.

Registering custom components is definitely useful and required to define user-defined content types.

[2017-05-16 22:05] msgilligan commented on #107
Nice work! Gradle, too! Awesome!

[2017-05-18 16:29] manikmagar commented on #351
@jonbullock Have you already started working on this? If not, I can add this one.

[2017-05-19 16:16] manikmagar commented on #338
Another though for template system - https://groups.google.com/d/msg/jbake-user/eQNZYsk8aKM/0Uw-QJTTCAAJ

[2017-05-21 09:07] jonbullock commented on #365
I've been thinking about this some more and I've changed my view, this should be handled by JBake, so option 3.

[2017-05-21 20:12] ottlinger commented on #365
+1 for option 3

[2017-05-21 22:18] manikmagar opened #370 "Github based Template Release System"
Based on the template release system described here - https://groups.google.com/d/msg/jbake-user/eQNZYsk8aKM/0Uw-QJTTCAAJ

Here is a tool to initiate jbake site from github managed templates -
https://github.com/manikmagar/jbake-ts

[2017-05-22 17:46] ancho commented on #370
👍 That's nice. I just flew over the code. But that's a nice PoC. How about using repository topics to locate template project repositories on github to generate a list of available template projects?

* https://help.github.com/articles/about-topics/
* https://developer.github.com/v3/search/#search-repositories
* http://github-api.kohsuke.org/apidocs/org/kohsuke/github/GHSearchBuilder.html

We coul

[2017-05-22 18:16] manikmagar commented on #370
Thanks.

I was thinking about repository topics and search (for this and something else that is not related to jbake), it is good to explore and automate. The thing I did not like is, we cannot really control on what is then getting pulled into our system. With controlled source, we know what is being included. Imagine that topic appearing on wrong repositories that are not really jbake templates

[2017-05-22 18:41] ancho commented on #370
Hmm...maybe you are right. That depends on what a controlled source is and who controls it. Currently there are some checks if common folders are present defined by the configuration. But you are right it's probably not the best idea to trust every repository with a tag on it.
We could collect them within the organization for example and run tests against them, before adding them to the list or so

[2017-05-22 18:59] manikmagar commented on #370
:+1:  testing/validating the templates is good. Similar thing can be used in download step, i.e. once requested template is installed `jbake-ts -t {reponame} {version}` then run it through basic structure validations.

[2017-05-22 19:18] ancho commented on #370
jbake does that already. I also wrote a [JbakeConfigurationInspector](https://github.com/jbake-org/jbake/pull/341/files#diff-8c42500e90b35a7ce63c51dd07a3af4a) as a side effect of #341 which could be extended and reused during the initialization phase.

[2017-05-22 19:36] manikmagar commented on #370
:+1:  That is nice.
Hope to have more templates available for baking :)

[2017-05-22 22:20] jonbullock commented on #351
No I haven't, if you want to take this on that would be great.

[2017-05-23 14:03] manikmagar commented on #351
Sure, will send PR soon. Dev is almost done, need to add test cases.

[2017-05-24 12:35] jonbullock commented on #370
Ah, I sent my e-mail last night before I noticed this issue had already been raised - thanks @manikmagar for already doing this :)

The way I thought it could work last night was the initial list of available example projects (say if you run -i without any params) for the CLI (and maybe build plugins jbake-org/jbake-gradle-plugin#30) should come from a trusted source (i.e. a json file on jbake.org

[2017-05-24 14:21] manikmagar commented on #370
Np, welcome :).

I agree, there should be a way to pull from custom source either from a CLI or just download the zip from any custom repo and unzip it to begin (jbake -i may not be needed). Do you think it should be part of jbake core or a separate module? I think, may be implementation could be a sub-module but can share the same CLI .

[2017-05-24 14:24] manikmagar commented on #360
Do you have a date in mind for 2.6? I feel the bug fixes should be released sooner than enhancements. May be 2.5.2!

[2017-05-24 17:46] ancho commented on #370
There is an open issue #274 for splitting into core and application module. I think it would be a good idea to do so and integrate your implementation into core using it in the cli module, or what ever it is called then. That way we would be able to reuse it in the gradle plugin to implement an initialization task without the dependency to the cli and jetty stuff. See https://github.com/jbake-org/

[2017-05-24 18:06] ancho opened #372 "consider using editorconfig to maintain a common coding style"
The current code base is a mixture of different format styles caused by different IDE settings (and personal comfort).
Maybe we can use http://editorconfig.org/ to define a set of basic styles (Tabs vs. spaces, Indentation, windows vs. *nix newlines. ) for different file formats. There are [plugins](http://editorconfig.org/#download) for a bunch of IDE's and text editors available.

[2017-05-24 19:46] ottlinger commented on #372
I do like the idea and would even favour a plugin that applies change upon checkin such as
https://github.com/revelc/formatter-maven-plugin

But an editorconfig is a first step towards that direction :+1:

[2017-05-25 17:44] manikmagar opened #374 "More Frequent Release Cycles?"
JBake is making awesome progress :+1:  and thanks to @jonbullock, along with all the contributors for keeping it active  and alive.

Many releases are have happened and  numerous will come along. I feel that probably we should have more frequent release cycles.

**Bug fixes: Patch change**
Bug fixes should be released as soon as possible with increment in patch level, without waiting for other enh

[2017-05-26 12:09] ancho commented on #230
At what location is the lib/ directory expected? Relative to the root project? Or is it the lib directory of the distribution?

[2017-05-31 21:09] jonbullock commented on #360
The date I originally had in mind has come and gone, so it's ASAP at the moment. I'll review what's left to do for 2.6.0 and if it's a while off I'll look at pushing out a bug fix release.

[2017-05-31 21:17] jonbullock commented on #370
Sounds logical to me to have the fundamental functionality in the core of JBake that the CLI sub-module can use as well as the build tool plugins.

[2017-05-31 21:51] jonbullock commented on #372
Definitely agree... this is something that's been mentioned in other issues before. The sticking point has been outstanding PR's previously, the number did get down quite low recently but you guys keep working hard and creating more ;-)

I don't know whether it's possible but I did think of stopping PR's from being raised for a period of time while the outstanding PR's are merged and this can be a

[2017-06-02 17:03] giflw opened #377 "Support for Handlebars templates"
Hi

Is there plans to support Handlebars or another mustache implementation for templating?

Thanks

[2017-06-05 13:27] wadechandler commented on #41
I see this as super valuable myself. I think if one would like to access the server because they need to use full paths to resources for various reasons, then a server running the site as a "top level" site, is the only way. Just viewing the static site without a server won't work in that case. So, if it can be an optional feature, which it could be with a command, then it should be useful and out

[2017-06-05 13:29] wadechandler commented on #32
I would really like to support "side car" files for not just config, but for meta-data. I think that would make the content cleaner, and keep out foreign syntax. I will create a separate issue for that.

[2017-06-05 21:40] jonbullock opened #378 "Support template engine syntax in content files"
See forum discussion: https://groups.google.com/d/msg/jbake-user/64MiZRTl_3I/1Y7O0DMYAAAJ

Idea is that template syntax will be processed prior to content markup. Proposed template engine to use for this is Groovy.

[2017-06-05 22:22] jonbullock commented on #374
Thank you for all of your contributions @manikmagar JBake wouldn't be where it is today without contributions like yours from the community.

I would love to make releases more frequent and I'm acutely aware that I'm the bottle neck - I have some ideas on how this can be improved though and the recent switch to Gradle should help with this. Keeping the scope of a release static is also a problem a

[2017-06-05 22:24] jonbullock commented on #230
It's the /lib directory of the distribution.

[2017-06-05 22:32] jonbullock commented on #377
There aren't any plans at present to add support no.

I've not used any Mustache impl myself but first step would be to check if one impl provides the same functionality as the others support for use in JBake. If so it should be quite straight forward to add support.

[2017-06-05 23:57] wadechandler opened #379 "Allow metadata in sidecar files (same name, yet defined possible metadata file extensions) of content"
Currently the metadata of a content file must be provided in a sort of "front matter" style like Jekyll does (when embedded). This forces a foreign syntax into the content files themselves.

This feature request proposes a backward compatible change to allow a sidecar file supported in pure YAML or JSON syntax such that if a content file named `some-content.html` were to exist, and the system were

[2017-06-06 00:02] wadechandler commented on #372
Some things that editorconfig has yet to address however are things like what to do with newlines after curly braces `{` and offsets within context such as many IDEs and editors provide for C like languages etc. I think it is good, but I have hoped the editorconfig specification would move faster on these type issues.

[2017-06-06 00:29] wadechandler opened #380 "Allow content files to be complete template engine files allowing them to possibly output or define their MIME type output"
Currently content may only be in the supported content formats such as AsciiDoc, Markdown, or HTML. There is also issue #378 which would make some things in the content files easier. However, there are other things which one may want to do to generate content, and being able to have content files be Freemarker, Groovy, Thymeleaf, or which ever template format being used would make things quite fle

[2017-06-06 06:16] ancho commented on #372
Ok. It was only a quick idea. The easiest possible solution. As an addition we maybe could make use of [checkstyle](https://docs.gradle.org/3.5/userguide/checkstyle_plugin.html).

[2017-06-06 13:57] manikmagar commented on #374
Sure @jonbullock, I would love to help.

May be, we can add a urgency vote on the open issues. If more people vote for anything, we can move it up in the queue.

[2017-06-06 14:07] ancho commented on #374
Good Idea. How about using [github projects](https://github.com/jbake-org/jbake/projects) to visualize and plan work? Combined with a vote this could be nice to see who is working on a feature or which one is free to pick etc...

[2017-06-06 14:30] manikmagar commented on #360
This bug has left the extensionless uri and pagination not usable as all static asset references using relative paths will break causing sites not to render properly.

**Workaround in meantime:**
For sites rendered at root, absolute paths can be use eg. /css/main.css instead of relative like ../css/main.css.
For subfolder sites, add folder name /blog/css/main.css

[2017-06-06 20:54] #327 closed

[2017-06-08 12:20] SiddheshRane commented on #281
I too feel that having to separate post related images into a similar but separate folder stucture is an inconvenient restriction placed by JBake. We already have header information to tell JBake what files to process as content so I think a natural solution is to just merge the assets and content folder into one.

[2017-06-09 13:34] giflw opened #381 "Add support for plantuml content"
Would be nice be able to put plantuml files (.puml) on content folder and JBake invoke plantuml to generate the diagrams.

[2017-06-09 13:40] ancho commented on #381
If you are using gradle to bake your site you can include your .puml file in a plantuml block within an ascidoctor file to render them.
See https://www.calmdevelopment.de/blog/2016/09/jbake-asciidoctor-diagram.html

[2017-06-09 13:44] giflw commented on #381
I'm using just JBake. What's needed to make this? Is there some plugin support in JBake? I could try to implement something and make a PR.

[2017-06-09 13:53] ancho commented on #381
Not yet. There is some discussion going on and a prototype implementation of a future plugin system see https://groups.google.com/forum/#!topic/jbake-dev/jXu9oMQo5-4

If you are using asciidoctor you should be able to install the asciidoctor-diagram gem and use the same configuration I used in the gradle example withing your jbake.properties to do the same with the jbake cli.
Use `gem install asci

[2017-06-09 13:56] giflw commented on #381
I'll check those options.
Thanks
Best regards

[2017-06-10 18:52] manikmagar opened #382 "Extracting content with attribute values"
JBake exposes different [data models](http://jbake.org/docs/2.5.1/#data_model).

There should be a way to extract content with attributes having certain values.

With current JBake, we can iterate over models like `posts` or `published_posts` then check attributes. For sites with a large number of contents, this could slow down the baking.

A method may be added in `ContentStore` with signature li

[2017-06-12 06:10] ancho commented on #381
Ok. I was wrong with my assumption it should work with the gem. That makes no sense at all.
Sorry about that.

I want to add the asciidoctorj-diagram dependency to the distribution, so nobody has to add the dependency manually for cli and extend the CLASSPATH variable.

First step is #230. I'll open a PR soon...need to test a few things first.

But that does not solve the problem with images in co

[2017-06-12 21:53] jonbullock commented on #374
Yeah sure I'll start off by creating a project for the 2.6.0 release.

How would voting work on issues?

[2017-06-12 23:26] manikmagar commented on #374
Voting could be as simple as, adding 👍 / 👎  reaction to the issue ... like the one to this issue itself.

[2017-06-13 05:34] SiddheshRane commented on #344
Hi, I have already done this using my thymeleaf based template. For a preview visit my [blog](https://siddheshrane.github.io). The source code snippet which does this is available [here](https://github.com/SiddheshRane/blog/blob/master/templates/snippets.thyme#L65).

The basic idea is to just search for the first `<p>` and get a substring between the first `<p>`  and `</p>`. This method works for

[2017-06-13 05:48] SiddheshRane commented on #281
An easy hack right now if you wish to keep post related assets in the content folder is to set the `assets` folder the same as `content` folder using `asset.folder=content` property in `jbake.properties` .
Have a look at [my example jbake.properties](https://github.com/SiddheshRane/blog/blob/master/jbake.properties#L12) file.
This way my images are right next to asciidoc content. My site structure

[2017-06-13 11:37] jonbullock commented on #370
Linking to another site template: https://github.com/SiddheshRane/jbake-clean-blog-template

I think a standard term needs to be agreed upon for these... template seems confusing as it's also used to describe files within these projects...

[2017-06-13 11:45] jonbullock commented on #344
Thanks for sharing that alternative approach @SiddheshRane

You can also define an additional metadata value in the header that you can then reference in the template files. But that's because I don't tend to summarise my post in the first paragraph though.

[2017-06-13 11:47] jonbullock commented on #281
Interesting idea... I hadn't thought of doing that.

I've not tried it myself yet but doesn't your source content files get copied over to the output folder by the asset processing stage?

[2017-06-13 11:52] jonbullock commented on #374
Ahh I thought I'd missed a new GitHub feature 😄

Yeah sounds good to me - how should we encourage this behaviour ... README, contributing guide?

[2017-06-13 12:04] jonbullock commented on #297
Need to check if this is still an issue after switch to Gradle.

[2017-06-13 12:06] jonbullock commented on #230
@ancho are you working on this? Or did I read your comment in #381 wrong?

[2017-06-13 13:02] SiddheshRane commented on #281
@jonbullock yes the original source gets copied to the destination folder. Its not a problem in most cases, except when your source is in `html`. Then your rendered html output gets overwritten by the original source because assets copying seems to be the last stage. If assets are copied first then such a use case as mine gets addressed.

I firmly believe that content folder should be allowed to h

[2017-06-13 13:52] manikmagar commented on #370
Agree! How about a traditional popular term 'theme'?

[2017-06-13 14:17] manikmagar commented on #374
We can add it to Contribution guide. We can also look at using [Github issues template](https://help.github.com/articles/creating-an-issue-template-for-your-repository/) to add a footer to each issue about the voting message.

[2017-06-13 14:51] ancho commented on #230
Jep. I'm on it..

[2017-06-13 19:48] jonbullock commented on #382
Great idea 👍

[2017-06-13 20:27] jonbullock commented on #281
Thanks for clarifying @SiddheshRane

The aim is to allow static files in the content folder in the next release.

[2017-06-13 20:31] jonbullock commented on #370
Yeah seems to be term of choice so lets go with it.

[2017-06-13 20:37] jonbullock opened #383 "Update contribution guide to encourage users to vote on issues"
See #374

[2017-06-14 06:30] ancho commented on #374
@jonbullock Is it possible that assigned users are able to move the issues around? I'm not able to change the state to In Progress.

[2017-06-14 12:16] jonbullock commented on #374
Can you try it again now?

[2017-06-14 12:23] ancho commented on #374
Works for me. Thank you.

I wonder if it is possible to move a project from a repository to the organization? Because a release project like this one touches more than one project. There are tasks for the website project to add some documentation or changes to be made on the gradle or maven plugin.

Maybe for the next time.

[2017-06-14 12:25] jonbullock commented on #374
Excellent. I'll have a look at that now... I thought projects were repo specific but you can create them at the org level.

[2017-06-14 12:30] jonbullock commented on #374
I can't see anything to move a project but I've put a request into GitHub to see if they can.

It's not a huge problem to re-create it if need be.

[2017-06-14 17:40] jonbullock commented on #374
It's been moved, can you double check you can still move issues around?

[2017-06-15 11:20] ancho commented on #374
still works ;)

[2017-06-15 16:00] manikmagar commented on #324
I think we can ignore the folders or files starting with '.'

In addition to that, will there be a need to ignore a folder if it contains `.jbakeignore` file?

For #281, any files/folders in content directory that are not ignored by above rule and file extension is not registered with [Markup engine](https://github.com/jbake-org/jbake/blob/master/src/main/resources/META-INF/org.jbake.parser.Markup

[2017-06-15 18:18] jonbullock commented on #324
All sounds good to me 👍

[2017-06-16 00:28] manikmagar commented on #346
Extending watch to template and asset folder.

[2017-06-16 10:38] ancho commented on #382
How about creating a better abstraction for a model?
Currently it's a Map. But it could be an object with a clear defined interface and extended versions of it.
So a model could have a method like `findWithAttribute(String attributeName, String... values)` or something like that instrumenting the ContentStore to query what is needed.

Using the ContentStore all over the place makes the model obsol

[2017-06-16 19:01] manikmagar commented on #382
Sounds good & Agree! My initial thought was just a basic idea of the feature.

There is a common extractor `TypedDocumentsExtractor` that is registered for all content types including custom types eg. posts, banners (for a custom content type banner). This allows us to write template snippets like the below one in freemarker -

[code]
This extractor gets all the documents for given type. We can ch

[2017-06-16 19:10] ancho commented on #382
That's what I had in mind. :+1:

[2017-06-16 19:26] manikmagar commented on #374
Ok, question about the tasks in project. Should I be moving task to 'Done' when I am done working on it or after it is merged to master? Many of the 2.6.0 tasks are implemented and ready to me merged but they were still under In Progress, I just moved them to Done (they are not merged yet).

[2017-06-16 19:45] ancho commented on #374
My interpretation of the three stages.

* Todo
  * Every issue/pull-request that is open/in discussion
* In Progress
  * Every issue or pull-reuest somebody is working on
    * if it is a pull-request it is typically a review
* Done
  * a pull request is accepted and ready to merge.
  * an issue was finished and is ready to close

We could add more columns to reflect another workflow. But I like t

[2017-06-16 19:52] manikmagar commented on #374
Let's keep it simple. Todo and In Progress are good.

'a pull request is accepted and ready to merge' - I assume this means, PR is submitted, reviewed by someone to say, yes, it is ready for merge. Should this be a formal review request?

[2017-06-16 20:07] manikmagar commented on #374
One more thought I am having is, is it possible to release SNAPSHOT versions with ready-to-merge items from planned release? This might allow others to use latest features/bugfixes before they are released, good for testing :)

[2017-06-16 20:10] ancho commented on #374
No. Yes. I don't know..what do you mean by formal?

But basically yes. The workflow I have in mind is similar like you said.

1. Someone opens a PR.
1. A member picks the PR for a review and drop it to the `In Progress` column.
1. The PR is considered acceptable. (maybe a short comment why?)
1. drop issue to done

[2017-06-16 20:13] ancho commented on #374
Jep. Seems so https://www.jfrog.com/confluence/display/RTF/Deploying+Snapshots+to+oss.jfrog.org

[2017-06-16 20:39] manikmagar commented on #374
On PR, you can `request review` to someone, by Formal, I meant using that.

[2017-06-17 21:06] johnament opened #386 "Include groovy-json in the distribution by default?"
Hi,

One of my use cases includes pulling a JSON source and using that to generate some content.  To do this, anyone working on the site needs to bring in the Groovy JSON library.  I noticed that the XML library was included by default, and was wondering what the thoughts were about including the JSON library as well?

[2017-06-17 22:36] manikmagar commented on #324
I was trying this and it seems creating a file or folder starting with . has restrictions (at least in mac) i.e. they may not be too user friendly to create. Should we instead use '_' i.e. ignore files starting with _ in name or folder containing _jbakeignore should be ignored including its children?

@jonbullock @ancho any thoughts?

[2017-06-18 09:03] ancho commented on #324
I'm with `.jbakeignore`. People using git should be used to it. What's your problem creating a hidden file with mac? Doesn't a `touch .jbakeignore` work?
With Windows there should be the trick with creating a file like `.jbakeignore.` which should create a file without an extension.

[2017-06-18 11:08] ancho commented on #386
:+1:
Or we add groovy-all and get all of the groovyness we need?! :smile:

[2017-06-18 13:44] manikmagar commented on #324
Creating with terminal works but was thinking for users working in finder or other tools. But I think you are right, staying with .jbakeignore is good and similar to other standard implementations like .gitignore, .svn etc. 👍

[2017-06-19 17:10] manikmagar opened #387 "Publish snapshot releases"
Publish snapshot builds from master to allow using latest fixes, enhancements before they are GA.

See #374 and [comment](https://github.com/jbake-org/jbake/issues/374#issuecomment-309123370).

[2017-06-26 16:16] manikmagar opened #389 "Paged Index affects `posts` data model on index page"
When index is paginated, `published_posts` data model is paginated and provided to template for rendering. This is also affecting the `posts` data model if used on the index page.

For example, look at he 'Recent posts' section ine left side bar on [this template](https://manikmagar.github.io/jbake-future-imperfect-template/). If you navigate through pages, you will notice that it is always same a

[2017-07-05 13:16] shalugin opened #391 "[Feauture request] Improve baking speed"
I want something like incremental site generation. I've enabled persistent content store (http://jbake.org/docs/2.5.1/#persistent_content_store). But generation can be faster.

For example we can do following things:
- Don't create `ContentStore` every time in `bake()` method.
- Skip copying assets, that already exists in destination folder.

[2017-07-07 06:06] GeorgHenkel opened #392 "Support german umlauts in jbake.properties"
Hi,
I am using current version 2.5.1 of JBake and have the problem, that german umlauts in the `jbake.properties` do not get encoded correctly, as it seems.

In the `jbake.properties` I use the following as menu headline:

    site.menus.main.about.label=Über uns

but the ouput in the menu bar is:

![image](https://user-images.githubusercontent.com/1669956/27945030-e389dd38-62ea-11e7-864c-274c88a3

[2017-07-07 08:30] GeorgHenkel commented on #392
I have found a workaround for this.
Using unicode instead of umlauts will work.

[2017-07-08 17:36] SiddheshRane commented on #392
This is actually related to property files in Java, nothing particular to JBake as such. I had ran into a similar problem when I was creating translated resource bundles, which are just property files, for a Java app. You have to use unicode escape sequences to have non ascii text.

For editing convenience open the jbake.properties file in an IDE like NetBeans or Eclipse and use its graphical key